<div class="card">
    <div class="card-header text-center header-bg padding-0 d-flex flex-column align-items-center justify-content-end"
         id="header-bg"
         background="{{$ctrl.customer.coverPhoto}}" style="height: 200px;">
        <div class="image-overlay">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-t-20 p-l-50 p-r-50">
            <div class="row">
                <div class="col-10"><h4 class="w400"><span class="bold text-capitalize">{{$ctrl.customer.representativeName}} </span>
                    <span ng-if="$ctrl.balanceDetails.status === 'Active'"
                          class="label label-success upper-case">{{"supplier.account.customer.active" | translate}}</span>
                    <span ng-if="$ctrl.balanceDetails.status === 'Invited'"
                          class="label label-warning upper-case">{{"supplier.account.customer.invited" | translate}}</span>
                    <span ng-if="$ctrl.balanceDetails.status === 'Suspended'"
                          class="label label-warning upper-case">{{"supplier.account.customer.suspended" | translate}}</span>
                    <span ng-if="$ctrl.balanceDetails.status === 'Blocked'"
                          class="label label-important upper-case">{{"supplier.account.customer.blocked" | translate}}</span>
                </h4></div>
                <div class="col-2 clearfix">
                    <div class="dropdown pull-right clearfix">
                        <button class="btn btn-default btn-sm m-t-10 pull-right" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="pg-menu_justify"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-if="$ctrl.balanceDetails.status === 'Blocked' || $ctrl.balanceDetails.status === 'Suspended' || $ctrl.balanceDetails.status === 'invited'">
                                <a ng-click="$ctrl.changeStatus('Active')"><i class="fa fa-check"></i>
                                    {{"supplier.account.customer.activate" | translate}}</a></li>
                          <!--  <li ng-if="$ctrl.customer.status === 'Blocked' || $ctrl.customer.status === 'Active'"><a
                                    ng-click="$ctrl.changeStatus('Suspended')"><i class="fa fa-close"></i>
                                {{"supplier.account.customer.suspend" | translate}}</a></li>-->
                            <li ng-if="$ctrl.balanceDetails.status === 'Active' || $ctrl.balanceDetails.status === 'Suspended'"><a
                                    ng-click="$ctrl.changeStatus('Blocked')"><i class="fa fa-ban"></i>
                                {{"supplier.account.customer.block" | translate}}</a></li>
                        </ul>
                    </div>


                </div>
            </div>

            <P class="w300 padding-0 text-capitalize no-margin">{{"supplier.account.payment.repName" | translate }}:
                <span class="w600">{{$ctrl.customer.user.firstName}} {{$ctrl.customer.user.lastName}}</span></p>
            <P class="w300 padding-0 no-margin">{{"supplier.account.payment.phone" | translate }}: <span class="w600">{{$ctrl.customer.user.mobileNumber}}</span>
            </p>
            <P class="w300 padding-0 no-margin">{{"supplier.account.payment.email" | translate }}: <span class="w600">{{$ctrl.customer.user.email}}</span>
            </p>
            <p class="bold text-capitalize compact-text-20 p-b-10">{{$ctrl.customer.location.address}}</p>

        </div>
        <div class="col-sm-6">
            <div class="map-container" style="min-width: 100%; height: 200px" map-lazy-load="{{$ctrl.googleMapsUrl}}">
                <ng-map ng-if="$ctrl.customerIsLoaded" id="map" zoom="11"
                        center="{{$ctrl.customer.location.coordinates}}">
                    <marker position="{{$ctrl.customer.location.coordinates}}"
                            title="Location">
                    </marker>
                </ng-map>
            </div>
        </div>
    </div>
    <div class="card card-details-table no-margin no-box-shadow">
        <div class="card-header p-t-40">
            <div class="row">
                <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9 m-t-10">
                    <div class="card-title">
                        {{"supplier.account.payment.payments" | translate }}
                    </div>
                    <div class="card-description">
                        <br>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
                </div>
            </div>
        </div>
        <div class="card-block-transparent">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 add-gap border-top-balance-card"
                         ng-class="{'danger': $ctrl.balanceDetails.balance < 0, 'warning': $ctrl.balanceDetails.balance == 0}">

                        <div class="payment-box padding-15">
                            <shimmer hide="$ctrl.billingHistoryIsLoaded" clipped="true"></shimmer>
                            <div ng-if="$ctrl.billingHistoryIsLoaded" class="row">
                                <div class="col-lg-6 col-md-12">
                                    <h6 class="w600">{{"supplier.account.payment.balance" | translate }}</h6>
                                    <h4 class="bold">{{$ctrl.balanceDetails.balance | currency : "" : 2}}
                                        <small>
                                            <small>{{"supplier.account.payment.sar" | translate }}</small>
                                        </small>
                                    </h4>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <p class="compact-text-10">{{"supplier.account.payment.nextPayment" | translate
                                        }}:</p>
                                    <p class="w600">{{$ctrl.balanceDetails.nextPaymentDate | moment:'fromNow'}}</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="$ctrl.billingHistoryIsLoaded" class="p-r-10 p-l-10">
                            <div class="form-group form-group-custom form-group-default form-group-default-select2">
                                <label class="label-custom">{{"supplier.account.payment.payment_installment" | translate
                                    }}</label>
                                <select class="full-width" id="periodSelect"
                                        data-placeholder="{{'supplier.account.payment.select_period' | translate }}"
                                        data-init-plugin="select2"
                                        ng-change="$ctrl.updateBalanceDetails()"
                                        ng-model="$ctrl.selectPeriod"
                                        ng-options="item as $ctrl.customOp(item) for item in $ctrl.periods track by (item.interval+item.frequency)">
                                </select>

                            </div>
                        </div>
                        <div ng-if="$ctrl.billingHistoryIsLoaded" class="p-t-10 p-b-20 p-r-20 p-l-20">
                            <div class="row">
                                <div class="checkbox check-primary">
                                    <input type="checkbox" value="true" id="checkbox4"
                                           ng-model="$ctrl.balanceDetails.exceedPaymentDate"
                                           ng-change="$ctrl.updateBalanceDetails()">
                                    <label for="checkbox4" class="fs-14">
                                        {{"supplier.account.payment.allow_exceed_billing_limit" | translate }}.
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 add-gap border-top-balance-card">

                        <div class="payment-box padding-15">
                            <shimmer hide="$ctrl.billingHistoryIsLoaded" clipped="true" row="5"></shimmer>
                            <div class="row" ng-if="$ctrl.billingHistoryIsLoaded">
                                <div class="col-lg-6 col-md-12">
                                    <h6 class="w600">{{"supplier.account.payment.creditThisMonth" | translate }}</h6>
                                    <h4 class="bold">{{$ctrl.balanceDetails.monthCredit | currency : "" : 2}}
                                        <small>
                                            <small>{{"supplier.account.payment.sar" | translate }}</small>
                                        </small>
                                    </h4>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <p class="compact-text-10">{{"supplier.account.payment.nextInvoice" | translate
                                        }}:</p>
                                    <p class="w600">{{$ctrl.balanceDetails.nextInvoiceDate | moment:'fromNow'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="p-r-10 p-l-10" ng-if="$ctrl.billingHistoryIsLoaded">
                            <div class="form-group form-group-default" ng-if="$ctrl.billingHistoryIsLoaded">
                                <label>{{"supplier.account.payment.creditLimit" | translate }}</label>
                                <input type="text"
                                       placeholder="{{$ctrl.balanceDetails.creditLimit | currency : '' : 1}}"
                                       class="form-control" ng-model="$ctrl.balanceDetails.creditLimit"
                                       ng-blur="$ctrl.updateBalanceDetails()">
                            </div>
                        </div>
                        <div class="p-t-10 p-b-20 p-r-20 p-l-20" ng-if="$ctrl.billingHistoryIsLoaded">
                            <div class="row">
                                <div class="checkbox check-primary">
                                    <input type="checkbox" value="true" id="checkbox5"
                                           ng-model="$ctrl.balanceDetails.exceedCreditLimit"
                                           ng-change="$ctrl.updateBalanceDetails()">
                                    <label for="checkbox5" class="fs-14">
                                        {{"supplier.account.payment.allow_exceed_credit_limit" | translate }}.
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="m-t-50 m-b-30">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-7 col-xl-8">
                            <div class="card-title">
                                <p class="bold text-uppercase m-t-10">{{"supplier.account.payment.billingHistory" |
                                    translate }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5 col-xl-4 clearfix">
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#transactions">
                                {{"supplier.account.payment.detailed_transactions" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-block-normal">
                        <div class="col-md-12  padding-0">
                            <shimmer hide="$ctrl.billingHistoryIsLoaded" row="10" col="5" clipped="true"></shimmer>
                            <div class="dataTables_wrapper no-footer" ng-show="$ctrl.billingHistoryIsLoaded">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-compact" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th>{{"supplier.account.payment.table.date" | translate }}</th>
                                            <th>{{"supplier.account.payment.table.type" | translate }}</th>
                                            <th>{{"supplier.account.payment.table.description" | translate }}</th>
                                            <th>{{"supplier.account.payment.table.amount" | translate }}</th>
                                            <!--
                                                                                <th>{{"supplier.account.payment.table.balance" | translate }}</th>
                                            -->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in $ctrl.billingHistory"
                                            class="gradeX odd content-table-payment cursor" role="row" ng-click="$ctrl.openBillingShowDetails(item._id,item)">
                                            <td class="mn-140">
                                                <span class="label upper-case">{{item.createdAt | amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                                                <span class="label upper-case">{{item.createdAt | amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                                            </td>
                                            <td class="sorting_1 mn-200">
                                                <span ng-if="item.type === 'credit'"
                                                      class="label label-success upper-case">{{"supplier.account.payment.credit" | translate }}</span>
                                                <span ng-if="item.type === 'invoice'"
                                                      class="label label-warning upper-case">{{"supplier.account.payment.invoice" | translate }}
                                                    <!--<a href="{{$ctrl.AppConstants.api}}/invoices/{{item._id}}?export=pdf"
                                                       target="_blank">DOWNLOADa</a>
                                                    <a href="{{$ctrl.AppConstants.api}}/transactions/{{item._id}}?export=pdf"
                                                       target="_blank">re</a>-->
                                                </span>
                                                <span class="label upper-case">{{item.invoiceId}}{{item.transId}}</span>
                                            </td>
                                            <td class="mn-200">
                                                <span ng-if="item.type === 'credit'">
                                                    <span ng-if="item.paymentMethod === 'Cash'"> {{"supplier.account.payment.cash" | translate}}</span>
                                                    <span ng-if="item.paymentMethod === 'Cheque'"> {{"supplier.account.payment.cheque" | translate}}</span>
                                                    <span ng-if="item.paymentMethod === 'Bank'"> {{"supplier.account.payment.bank" | translate}}</span>
                                                </span>
                                                <span ng-if="item.type === 'invoice'">
                                                    {{"supplier.account.payment.invoice_for" | translate }} {{item.date | moment:'MMM YYYY'}}
                                                </span>
                                            </td>

                                            <td class="mn-100">{{item.amount | currency : "" : 2}}{{item.total
                                                | currency : "" : 2}}
                                                <small>{{"supplier.account.payment.sar" | translate }}</small>
                                            </td>
                                        <!--<td>{{item.close | currency : "" : 2}} <small ng-if="item.type != 'invoice'">{{"supplier.account.payment.sar" | translate }}</small>

                                            </td>-->
                                            <td class="mn-100"><a href="" ng-click="$ctrl.openBillingShowDetails(item._id,item)">{{"supplier.account.payment.details"
                                                | translate }}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <list-pagination total-pages="$ctrl.billingHistoryQuery.totalPages"
                                                 on-page-click="$ctrl.setBillingHistoryPage(pageNumber)"
                                                 current-page="$ctrl.billingHistoryQuery.currentPage"></list-pagination>
                            </div>

                        </div>
                    </div>
                </div>
                <div permission permission-only="'managePayments'" class="m-t-50 m-b-30" ng-if="$ctrl.paymentsClaimsIsLoaded && $ctrl.paymentsClaims.length > 0">
                    <div class="row">
                        <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9 m-t-10">
                            <div class="bold text-uppercase">
                                {{"supplier.account.payment.paymentClaims" | translate }}
                            </div>
                        </div>
                        <div permission permission-only="'managePayments'" class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
                            <button class="btn btn-primary btn-block" ng-click="$ctrl.openRecordPayment()">
                                {{"supplier.customers.list.button.add_payment" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div permission permission-only="'managePayments'" class="row" ng-if="$ctrl.paymentsClaimsIsLoaded && $ctrl.paymentsClaims.length > 0">
                    <div class="card-block-normal">
                        <div class="col-md-12  padding-0">
                            <div class="dataTables_wrapper no-footer ">

                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-compact" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th width="150">{{"supplier.account.payment.table.date" | translate }}</th>
                                            <th width="130">{{"supplier.account.payment.table.referenceId" | translate
                                                }}
                                            </th>
                                            <th>{{"supplier.account.payment.table.type" | translate }}</th>
                                            <th>{{"supplier.account.payment.table.amount" | translate }}</th>
                                            <th>{{"supplier.account.payment.table.status" | translate }}</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in $ctrl.paymentsClaims"
                                            class="gradeX odd content-table-payment cursor" role="row"  ng-click="$ctrl.openShowDetails(item._id,item)">
                                            <td class="mn-150 sorting_1">
                                                <span class="label upper-case">{{item.updateAt | amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                                                <span class="label upper-case">{{item.updateAt | amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                                            </td>
                                            <td class="mn-120 sorting_1"><span
                                                    class="label upper-case">{{item.paymentId}}</span></td>
                                            <td class="mn-100 sorting_1">
                                            <span ng-if="item.paymentMethod === 'Cash'"
                                                  class="label label-success upper-case"><li class="fa fa-money"></li> {{"supplier.account.payment.cash" | translate}}</span>
                                                <span ng-if="item.paymentMethod === 'Cheque'"
                                                      class="label label-info upper-case"><li
                                                        class="fa pg-credit_card_line"></li> {{"supplier.account.payment.cheque" | translate}}</span>
                                                <span ng-if="item.paymentMethod === 'Bank'"
                                                      class="label label-inverse upper-case"><li
                                                        class="fa fa-bank"></li> {{"supplier.account.payment.bank" | translate}}</span>


                                            </td>
                                            <td class="mn-120 sorting_1">{{item.amount| currency:"":2}}
                                                <small>{{"supplier.account.payment.sar" | translate }}</small>
                                            </td>
                                            <td class="mn-100 sorting_1">
                                            <span ng-if="item.status === 'Approved'"
                                                  class="label label-success upper-case">{{"supplier.account.payment.approved" | translate}}</span>
                                                <span ng-if="item.status === 'Pending'"
                                                      class="label label-warning upper-case">{{"supplier.account.payment.pending" | translate}}</span>
                                                <span ng-if="item.status === 'Rejected'"
                                                      class="label label-important upper-case">{{"supplier.account.payment.rejected" | translate}}</span>
                                            </td>

                                            <!--<td class="sorting_1"><a href=""  ui-sref="app.supplier.customer.payments-details({paymentId:item._id,payment:item})">Show Details</a></td>-->
                                            <td class="mn-100 sorting_1">
                                                <a href="" ng-click="$ctrl.openShowDetails(item._id,item)">{{"supplier.account.payment.details"
                                                    | translate }}</a>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <list-pagination total-pages="$ctrl.supplierPaymentClaimsQuery.totalPages"
                                                 current-page="$ctrl.supplierPaymentClaimsQuery.currentPage"
                                                 on-page-click="$ctrl.setPaymentClaimsPage(pageNumber)"></list-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-details-table no-margin no-box-shadow">
            <div class="card-header p-t-30">
                <div class="row">
                    <div class="col-lg-3 col-xl-5 m-t-5">
                        <div class="card-title">
                            {{"supplier.account.payment.specialPrices" | translate }}
                        </div>
                        <!--<div class="card-description">-->
                            <!--<br>-->
                        <!--</div>-->
                    </div>
                    <div class="col-lg-9 col-xl-7">
                        <div class="d-flex flex-wrap">
                            <span class="m-r-5 m-t-5 m-b-5">{{"supplier.customer.label.bulkOperations" | translate}}: </span>
                            <div class="btn-group btn-group-sm d-flex flex-wrap" dir="ltr">
                                <button type="button" style="flex:1" class="btn btn-transparent m-b-5" ng-click="$ctrl.downloadSpecialPrices()"><i class="fa fa-download"></i> <span class="bold">{{"supplier.customer.button.downloadSpecialPrices" | translate}}</span></button>
                                <button type="button" style="flex:1" class="btn btn-primary m-b-5 no-box-shadow" onclick="document.getElementById('file').click();"><i class="fa fa-cloud-upload">

                                </i> <span class="bold">{{"supplier.customer.button.uploadSpecialPrices" | translate}}
                                    <input id="file" name="file" type="file" style="display: none"  ngf-select="$ctrl.uploadSpecialPrices($file)" ng-model="$ctrl.file"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block-transparent">

                <div class="card-block-normal card-wide-padding">
                    <div class="col-md-12 padding-0">

                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="form-group form-group-custom form-group-default form-group-default-select2">
                                        <label class="label-custom">{{"supplier.account.payment.specialPricesTable.productName"
                                            | translate}}</label>
                                        <select class="full-width" id="productSelect2" data-placeholder="Select Product" data-init-plugin="select2"
                                                ng-model="$ctrl.selectedProduct">
                                            <option value="">Select Product</option>
                                            <option ng-repeat="item in $ctrl.products" ng-value="item">{{
                                                currentLanguage.language === 'ar'? item.arabicName : item.englishName }}
                                            </option>
                                        </select>
                                    </div>


                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group form-group-default" ng-if="$ctrl.billingHistoryIsLoaded">
                                        <label>{{"supplier.account.payment.specialPricesTable.specialPrice" | translate
                                            }}</label>
                                        <input type="number" ng-model="$ctrl.specialPrice"  min="1"
                                               placeholder="{{$ctrl.balanceDetails.creditLimit | currency : '' : 1}}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-2 no-margin no-padding d-flex">
                                    <button ng-click="$ctrl.addSpecialPrice()"
                                            ng-class="{'disabled': !$ctrl.specialPrice || !$ctrl.selectedProduct}"
                                            class="btn btn-primary btn-block align-self-stretch d-flex align-items-center justify-content-center">
                                        {{"supplier.product.add" | translate}}
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="dataTables_wrapper no-footer clearfix">
                            <div class="table-responsive">
                                <table class="table table-striped dataTable dataTableFormat no-footer" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th>{{"supplier.account.payment.specialPricesTable.productName" | translate}}
                                        </th>
                                        <th>{{"supplier.account.payment.specialPricesTable.specialPrice" | translate}}
                                        </th>
                                        <th>{{"supplier.account.payment.specialPricesTable.originalPrice" |
                                            translate}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr ng-repeat="item in $ctrl.specialPrices" class="gradeX odd content-table-payment"
                                        role="row">
                                        <td class="sorting_1">
                                            <a ui-sref="app.supplier.product.detail({productId : item.product._id})">
                                            {{ currentLanguage.language === 'ar'?
                                            item.product.arabicName : item.product.englishName }}
                                            </a>
                                        </td>
                                        <td width="100px" class="padding-0 align-middle">
                                             <span ng-if="$ctrl.specialPriceMode === 'viewMode'">{{item.price | currency : "" : 2}}</span>
                                            <input ng-if="$ctrl.specialPriceMode === 'editMode'" type="number" ng-model="item.price"  min="1" class="form-control">
                                            <small ng-if="$ctrl.specialPriceMode === 'viewMode'">{{"supplier.account.payment.sar" | translate }}</small>
                                        </td>
                                        <td class="sorting_1">
                                            {{item.product.price | currency : "" : 2}}
                                            <small>{{"supplier.account.payment.sar" | translate }}</small>
                                        </td>
                                        <td width="150px">
                                            <a ng-if="$ctrl.specialPriceMode === 'viewMode'" class="no-animate p-l-10 p-r-10" href="" ng-click="$ctrl.setSpecialPriceMode('editMode')">{{"supplier.account.payment.edit" | translate }}</a>
                                            <a ng-if="$ctrl.specialPriceMode === 'editMode'" class="no-animate p-l-10 p-r-10" href="" ng-click="$ctrl.updateSpecialPrice(item)">{{"supplier.account.payment.save" | translate }}</a>
                                            <a ng-if="$ctrl.specialPriceMode === 'editMode'" class="no-animate p-l-10 p-r-10" href="" ng-click="$ctrl.cancelEditSpecialPrice()">{{"supplier.account.payment.cancel" | translate }}</a>
                                            <a ng-if="$ctrl.specialPriceMode === 'viewMode'" class="no-animate p-l-10 p-r-10" href="" ng-click="$ctrl.deleteSpecialPrice(item)">{{"supplier.account.payment.delete" | translate }}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <list-pagination total-pages="$ctrl.customerSpecialPricesQuery.totalPages"
                                             current-page="$ctrl.customerSpecialPricesQuery.currentPage"
                                             on-page-click="$ctrl.setSpecialPricesPage(pageNumber)"></list-pagination>
                            <!--<div class="pull-right">-->
                                <!--{{"supplier.customer.label.export" | translate}}:-->
                                <!--<div class="btn-group btn-group-sm" dir="ltr">-->
                                <!--<button type="button" class="btn btn-transparent" ng-click="$ctrl.exportSpecialPrices('pdf', $ctrl.customerSpecialPricesQuery)">PDF</button>-->
                                <!--<button type="button" class="btn btn-transparent" ng-click="$ctrl.exportSpecialPrices('xls', $ctrl.customerSpecialPricesQuery)">XLS</button>-->
                            <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<payment-record on-save="$ctrl.addPayment(payment)" customer-flag="false" view-mode="$ctrl.disableRecordPaymentForm"
                hide-button="false" payment="$ctrl.paymentItem"></payment-record>
<view-payment bill="$ctrl.billItem" payment-type="'SC'"></view-payment>
<transactions is-admin-fees="false" customer="$ctrl.customerId"></transactions>

<script>
    $('#periodSelect , #productSelect2').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });
</script>
