<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />

    <title ncy-breadcrumb-last="Supplies ON: {{ncyBreadcrumbLabel | translate}}"></title>
    <meta name="description" content="Online B2B marketplace for both buyers and sells" />
    <meta content="" name="author" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Supplies ON" />
    <meta property="og:description" content="Online B2B marketplace for both buyers and sells" />
    <meta property="og:image" content="https://supplieson.com/assets/fav/snippet.png" />
    <meta property="og:url" content="https://supplieson.com/?url=google.com" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@suppliesOn" />
    <meta name="twitter:creator" content="@suppliesOn" />
    <meta name="twitter:title" content="Supplies ON" />
    <meta name="twitter:description" content="Online B2B marketplace for both buyers and sells" />
    <meta name="twitter:image" content="https://supplieson.com/assets/fav/snippet.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/fav/favicon-16x16.png">
    <link rel="manifest" href="assets/fav/site.webmanifest">
    <link rel="mask-icon" href="assets/fav/safari-pinned-tab.svg" color="#003666">
    <link rel="shortcut icon" href="assets/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#003666">
    <meta name="msapplication-config" content="assets/fav/browserconfig.xml">
    <meta name="theme-color" content="#003666">

    <meta name="apple-mobile-web-app-title" content="Supplies ON">
    <meta name="application-name" content="Supplies ON">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--<link href="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/css/jquery.calendars.picker.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="assets/css/calender.picker.css">

    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="pages/css/style.bundle.min.css" rel="stylesheet" type="text/css" />
    <!--RTL-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link ng-if="rtl" class="main-stylesheet" href="pages/css/pages.rtl.css" rel="stylesheet" type="text/css" />
    <link ng-if="!rtl" class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />

    <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">

    <!-- <link ng-if="isSlides" class="main-stylesheet" href="slides/css/slides.css" rel="stylesheet" type="text/css" />-->

    <!-- Progress Tracker -->
    <link rel="stylesheet" href="assets/css/progress-tracker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono|Lato:300,400">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WVSNRKS');</script>
    <!-- End Google Tag Manager -->



</head>
<body class="ng-cloak" ng-class="{'slides film animated': isSlides, 'fixed-header horizontal-menu horizontal-app-menu': !isSlides}">
<div id="data" class="website-loader" style="position: absolute;
    top: 0px;
    z-index: 2000;
    background: white;
    bottom: 0px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;">
    <img src="pages/img/progress/progress-circle-success.svg" width="80px">
</div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVSNRKS"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="full-height" ui-view></div>



<!-- Analytics -->
<script></script>
<!-- END OVERLAY -->

<!-- BEGIN COMMON JS -->
<script src="pages/js/pages.common.bundle.js" type="text/javascript"></script>
<!--<script src="slides/js/plugins.js" type="text/javascript" name="plugins" async defer></script>-->

<!-- END COMMON JS -->

<!-- END PAGE LEVEL JS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVyrPpRVpBYwmDTYzZk0v0hp7B3KuhKpc&libraries=placeses,visualization,drawing,geometry,places"
        type="text/javascript"></script>

<script src="pages/js/app.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-ui-select/select.min.js" type="text/javascript"></script>

<script src="assets/plugins/bootstrap-form-wizard/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="assets/plugins/classie/classie.js" async defer></script>

<div id="lazyload_placeholder"></div>
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>

<script src="/node_modules/raven-js/dist/plugins/angular.min.js" ></script>

<script>
   /* if ('serviceWorker' in navigator) {
        // Register a service worker hosted at the root of the
        // site using the default scope.
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('Service worker registration succeeded:', registration);
        }).catch(function(error) {
            console.log('Service worker registration failed:', error);
        });
    } else {
        console.log('Service workers are not supported.');
    }*/
</script>


<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars-en-GB.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars-ar.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.plus.min.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.plugin.min.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.islamic.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.islamic-ar.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.picker.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.picker-en-GB.js"></script>
<script src="https://cdn.rawgit.com/kbwood/calendars/2.1.0/dist/js/jquery.calendars.picker-ar.js"></script>

</body>
</html>

<script>
    setTimeout(function(){
        $("#data").css("display","none");
        }, 600);
</script>
