<div class="">
<div class="card card-details-table">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9">
                <div class="card-title">
                    {{"supplier.account.billing" | translate }}
                </div>
                <div class="card-description">
                    {{"supplier.account.payment.billingDes" | translate }}<br>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
                <button class="btn btn-primary btn-block" ng-click="$ctrl.openRecordPaymentPopup()"
                        ng-class="{'btn-danger': $ctrl.balanceDetails.balance < 0, 'btn-warning': $ctrl.balanceDetails.balance == 0}">{{"supplier.account.payment.record_payment" | translate }}</button>
            </div>
        </div>
    </div>
    <div class="card-block-transparent">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 add-gap border-top-balance-card" ng-class="{'danger': $ctrl.balanceDetails.balance < 0, 'warning': $ctrl.balanceDetails.balance == 0}">
                    <div class="payment-box padding-15">
                        <shimmer hide="$ctrl.supplierIsLoaded" clipped="true"></shimmer>
                        <div class="row" ng-if="$ctrl.supplierIsLoaded">
                            <div class="col-xl-6 col-lg-5 col-md-12">
                                <h6 class="w600">{{"supplier.account.payment.balance" | translate }}</h6>
                                <h4 class="bold">{{$ctrl.balanceDetails.balance | currency : "" : 2}} <small><small>{{"supplier.account.payment.sar" | translate }}</small></small></h4>
                            </div>
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <p class="compact-text-10">{{"supplier.account.payment.nextPayment" | translate }}:</p>
                                <p class="w600">{{$ctrl.balanceDetails.nextPaymentDate | moment:'fromNow'}}</p>
                            </div>
                        </div>
                        <div class="gray-box p-t-5 p-b-5 p-l-10 p-r-10 m-t-20" ng-if="$ctrl.supplierIsLoaded">
                            <p class="w600 no-padding no-margin">{{"supplier.account.payment.payment_installment" | translate }}</p>
                            <p class="no-padding no-margin">{{"supplier.account.payment.every" | translate }}
                                <span ng-if="$ctrl.balanceDetails.payment.interval === 'Month'">
                                            <span translate="supplier.account.payment.Month" translate-values="{value: $ctrl.balanceDetails.payment.frequency}"></span>
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 add-gap border-top-balance-card" ng-class="{'danger': $ctrl.balanceDetails.monthCredit > $ctrl.balanceDetails.creditLimit, 'warning': $ctrl.balanceDetails.monthCredit == $ctrl.balanceDetails.creditLimit}">
                    <div class="payment-box p-t-15 p-l-15">
                        <shimmer hide="$ctrl.supplierIsLoaded" clipped="true"></shimmer>
                        <div class="row" ng-if="$ctrl.supplierIsLoaded">
                            <div class="col-lg-6 col-md-12">
                                <h6 class="w600">{{"supplier.account.payment.creditThisMonth" | translate }}</h6>
                                <h4 class="bold">{{$ctrl.balanceDetails.monthCredit | currency : "" : 2}} <small><small>{{"supplier.account.payment.sar" | translate }}</small></small></h4>
                            </div>
                            <div class="col-lg-6 col-md-12" ng-if="$ctrl.supplierIsLoaded">
                                <p class="compact-text-10">{{"supplier.account.payment.nextInvoice" | translate }}:</p>
                                <p class="w600">{{$ctrl.balanceDetails.nextInvoiceDate | moment:'fromNow'}}</p>
                            </div>
                        </div>
                        <div class="gray-box p-t-5 p-b-5 p-l-10 p-r-10 m-t-20" ng-if="$ctrl.supplierIsLoaded && !$ctrl.balanceDetails.exceedCreditLimit">
                            <p class="w600 no-padding no-margin">{{"supplier.account.payment.limitThisMonth" | translate }}</p>
                            <p class="no-padding no-margin">{{$ctrl.balanceDetails.creditLimit | currency : "" : 2}} <small><small>{{"supplier.account.payment.sar" | translate }}</small></small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-50 m-b-30">
                <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9 m-t-10">
                    <p class="bold text-uppercase">{{"supplier.account.payment.billingHistory" | translate }}</p>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
                    <button class="btn btn-primary btn-block " data-toggle="modal" data-target="#transactions">{{"supplier.account.payment.detailed_transactions" | translate }}</button>
                </div>
            </div>
            <div class="row">
                <div class="card-block-normal">
                    <div class="col-md-12  padding-0">
                        <shimmer hide="$ctrl.billingHistoryIsLoaded" row="10" col="5" clipped="true"></shimmer>
                        <div class="dataTables_wrapper no-footer table-responsive" ng-if="$ctrl.billingHistoryIsLoaded">
                            <table class="table table-striped table-compact table-hover" role="grid">
                                <thead>
                                <tr role="row">
                                    <th>{{"supplier.account.payment.table.date" | translate }}</th>
                                    <th>{{"supplier.account.payment.table.type" | translate }}</th>
                                    <th>{{"supplier.account.payment.table.description" | translate }}</th>
                                    <th>{{"supplier.account.payment.table.amount" | translate }}</th>
                                    <!--
                                                                        <th>{{"supplier.account.payment.table.balance" | translate }}</th>
                                    -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in $ctrl.billingHistory" class="gradeX odd content-table-payment cursor" role="row" ng-click="$ctrl.openBillingShowDetails(item._id,item)">
                                    <td class="mn-170">
                                        <span class="label upper-case">{{item.date | moment:'DD-MM-YYYY'}}</span>
                                        <span class="label upper-case">{{item.date | moment:'HH:MM A'}}</span>
                                    </td>
                                    <td class="sorting_1 mn-170">
                                            <span ng-if="item.type === 'credit'"
                                                  class="label label-success upper-case">{{"supplier.account.payment.credit" | translate }}</span>
                                        <span ng-if="item.type === 'invoice'"
                                              class="label label-warning upper-case">{{"supplier.account.payment.invoice" | translate }}</span>
                                        <span class="label upper-case">{{item.invoiceId}}{{item.transId}}</span>
                                    </td>
                                    <td class="mn-150">
                                            <span ng-if="item.type === 'credit'">
                                                <span ng-if="item.paymentMethod === 'Cash'"> {{"supplier.account.payment.cash" | translate}}</span>
                                                <span ng-if="item.paymentMethod === 'Cheque'"> {{"supplier.account.payment.cheque" | translate}}</span>
                                                <span ng-if="item.paymentMethod === 'Bank'"> {{"supplier.account.payment.bank" | translate}}</span>
                                            </span>
                                        <span ng-if="item.type === 'invoice'">
                                                {{"supplier.account.payment.invoice_for" | translate }} {{item.date | moment:'MMM YYYY'}}
                                            </span>
                                    </td>
                                    <td class="mn-100">{{item.amount | currency : "" : 2}}{{$ctrl.getInvoiceSum(item.transactions) | currency : "" : 2}} <small>{{"supplier.account.payment.sar" | translate }}</small></td>
                                    <!--<td>{{item.close | currency : "" : 2}} <small ng-if="item.type != 'invoice'">{{"supplier.account.payment.sar" | translate }}</small>

                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                            <list-pagination total-pages="$ctrl.billingHistoryQuery.totalPages" on-page-click="$ctrl.setBillingHistoryPage(pageNumber)" current-page="$ctrl.billingHistoryQuery.currentPage"></list-pagination>
                        </div>

                    </div>
                </div>
            </div>

            <div class="m-t-50 m-b-30" ng-if="$ctrl.paymentsClaimsIsLoaded && $ctrl.paymentsClaims.length > 0">
                <p class="bold text-uppercase">{{"supplier.account.payment.paymentClaims" | translate }}</p>
            </div>
            <div class="row" ng-if="$ctrl.paymentsClaimsIsLoaded && $ctrl.paymentsClaims.length > 0">
                <div class="card-block-normal">
                    <div class="col-md-12  padding-0">
                        <div class="dataTables_wrapper no-footer ">

                            <div class="table-responsive">
                                <table class="table table-striped" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th>{{"supplier.account.payment.table.date" | translate }}</th>
                                        <th>{{"supplier.account.payment.table.referenceId" | translate }}</th>
                                        <th>{{"supplier.account.payment.table.type" | translate }}</th>
                                        <th>{{"supplier.account.payment.table.amount" | translate }}</th>
                                        <th>{{"supplier.account.payment.table.status" | translate }}</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in $ctrl.paymentsClaims" class="gradeX odd content-table-payment" role="row">
                                        <td class="sorting_1" style="min-width:175px">
                                            <span class="label upper-case">{{item.date | moment:'DD-MM-YYYY'}}</span>
                                            <span class="label upper-case">{{item.date | moment:'HH:MM A'}}</span>
                                        </td>
                                        <td class="mn-150 sorting_1"><span class="label upper-case">{{item.paymentId}}</span></td>
                                        <td class="mn-120 sorting_1">
                                            <span ng-if="item.paymentMethod === 'Cash'"
                                                  class="label label-success upper-case"><li class="fa fa-money"></li> {{"supplier.account.payment.cash" | translate}}</span>
                                            <span ng-if="item.paymentMethod === 'Cheque'"
                                                  class="label label-info upper-case"><li class="fa pg-credit_card_line"></li> {{"supplier.account.payment.cheque" | translate}}</span>
                                            <span ng-if="item.paymentMethod === 'Bank'"
                                                  class="label label-inverse upper-case"><li class="fa fa-bank"></li> {{"supplier.account.payment.bank" | translate}}</span>


                                        </td>
                                        <td class="mn-120 sorting_1">{{item.amount| currency:"":2}} <small>{{"supplier.account.payment.sar" | translate }}</small></td>
                                        <td class="mn-120 sorting_1">
                                            <span ng-if="item.status === 'Approved'"
                                                  class="label label-success upper-case">{{"supplier.account.payment.approved" | translate}}</span>
                                            <span ng-if="item.status === 'Pending'"
                                                  class="label label-warning upper-case">{{"supplier.account.payment.pending" | translate}}</span>
                                            <span ng-if="item.status === 'Rejected'"
                                                  class="label label-important upper-case">{{"supplier.account.payment.rejected" | translate}}</span>
                                        </td>

                                        <!--<td class="sorting_1"><a href=""  ui-sref="app.supplier.customer.payments-details({paymentId:item._id,payment:item})">Show Details</a></td>-->
                                        <td class="mn-120 sorting_1">
                                            <a href="" ng-click="$ctrl.openShowDetails(item._id,item)">{{"supplier.account.payment.details" | translate }}</a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                                <list-pagination total-pages="$ctrl.supplierPaymentClaimsQuery.totalPages" current-page="$ctrl.supplierPaymentClaimsQuery.currentPage" on-page-click="$ctrl.setPaymentClaimsPage(pageNumber)"></list-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<payment-record on-save="$ctrl.addPayment(payment)" customer-flag="false" view-mode="$ctrl.disableRecordPaymentForm" hide-button="false" payment="$ctrl.paymentItem"></payment-record>
<view-payment bill="$ctrl.billItem" payment-type="'SA'"></view-payment>
<transactions is-admin-fees="true"></transactions>
