<!-- START PAGE-CONTAINER -->
<div class="login-wrapper " ng-style="{'background':'url(assets/img/bg/bg_'+ $ctrl.backgroundImageIndex+'.jpg)'}" >
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic" style="background: #00000030;">
        <!-- START Background Pic-->

        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <!--<h2 class="semi-bold text-white">-->
                <!--<b>{{"meta.project_name" | translate }}</b>-->
            <!--</h2>-->

            <div class="brand no-border hidden-xs-down">
                <div>
                    <!--<img src="/assets/img/logo_supplieson.png" height="50px" ght  alt="logo">-->
                </div>
            </div>

            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">{{"auth.copyright" | translate }}</span>
                <span class="font-montserrat">{{"meta.project_name" | translate }}</span>.
                <span class="hint-text">{{"auth.rights" | translate }}.</span>
            </p>

        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white" ng-class="{ 'enlarge-panel' : enlargePanel }" style="overflow-y: scroll">

        <div class="p-l-50 margin-20 p-r-50  p-t-40 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <!--<img src="assets/img/logo.png" style="opacity:1" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil"
                 data-src-retina="/assets/img/logo_2x.png" width="92">-->

                <div class="row">
                    <div class="col-sm-10">
                        <img src="/assets/img/logo_supplieson.png" height="50px" alt="">
                    </div>
                    <div class="col-sm-2 m-t-10">
                        <button id="change-language" class="btn btn-default pull-right" ng-click="$ctrl.changeLanguage()">
                            {{"auth.register.supplier.button.change_language" | translate }}
                        </button>
                    </div>
                </div>


            <!--<h3>{{"auth.register.supplier.text.project_name" | translate }}</h3>-->



            <!-- START  Form -->

            <ui-view/>

            <!--END  Form-->
            <div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                    <!--<div class="col-sm-3 col-md-2 no-padding">
                        <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" ui-jq="unveil" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">
                    </div>-->
                    <div class="col-sm-12 no-padding m-t-10">
                        <p class="small no-margin pull-right sm-pull-reset">
                            <span>{{"auth.hand_craft_statement" | translate }} </span>
                            <a href="http://indielabs.sa">{{"meta.project_name" | translate }}</a>
                            <span class="hint-text">{{"auth.made_statement" | translate }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- END PAGE CONTAINER -->
