<div class="header p-0" style="background: white">
    <div class="header-inner header-md-height">
        <div class="clearfix hidden-md-up ">
            <img src="/assets/img/logo_sup.png" class="pull-left m-r-10" height="30px" ght  alt="logo">

            <a href="#" id="options-menu" class="btn-link toggle-sidebar pull-left m-t-5 hidden-lg-up pg pg-menu text-dark"
               data-toggle="horizontal-menu"></a>
        </div>
        <div class="">
            <!--<div class="brand d-inline-block no-border">-->
                <div class="brand d-inline-block no-border">
                    <div>
                        <img src="assets/img/logo_supplieson.png" class="hidden-sm-down" height="40px" ght  alt="logo">
                    </div>
                </div>
            <!--</div>-->
            <notification/>
            <search/>
        </div>
        <div class="d-flex align-items-center">

            <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down">
                <span class="semi-bold">{{"header.hello" | translate }}</span> <span class="">{{$ctrl.user.firstName | proper}}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle cursor" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular cursor inline sm-m-r-5">
                    <canvas id="user-icon" width="32" height="32" class="circular"></canvas>
                </span>
                </button>
                <div class="dropdown-menu profile-dropdown" ng-class="{'dropdown-menu-right': $ctrl._translate.use() === 'en', 'dropdown-menu-left': $ctrl._translate.use() === 'ar'}" role="menu">
                    <a ui-sref="app.customer.account.profile" id="dropdown_item_profile"  class="dropdown-item"><i class="fa fa-user"></i> {{"header.myProfile" | translate }}</a>
                    <a ui-sref="app.customer.contact" id="dropdown_item_feedback" class="dropdown-item"><i
                            class="fa fa-envelope"></i> {{"header.contactUS" | translate }}</a>
                    <a ng-click="changeLang()" ng-if="showChangeLangBtn"  id="changeLang" class="dropdown-item"><i class="fa fa-globe"></i> {{"header.changeLanguage" | translate }}</a>
                    <a href="#" ng-click="$ctrl.logout()" id="logout"  class="clearfix bg-master-lighter dropdown-item">
                        <span class="pull-left"> {{"header.logout" | translate }}</span>
                        <span class="pull-right"><i class="pg-power"></i></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="bg-white">
        <div class="container">
            <div class="menu-bar header-sm-height">
                <a class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
                </a>
                <ul>
                    <li permission permission-only="['manageAccount','manageCustomers']" ui-sref-active="active"><a ng-click="$ctrl.navigate('app.customer.account.users')" >{{"customer.menu.account" | translate }}</a></li>
                    <li permission permission-only="['manageOrders','manageCustomers']" ng-show="supplier.status==='Active' && supplier.relationStatus ==='Active'"  ui-sref-active="active"><a ng-click="$ctrl.navigate('app.customer.product')" >{{"customer.menu.product" | translate }}</a></li>
                    <li permission permission-only="['manageOrders','manageCustomers']" ng-show="supplier.status==='Active' && supplier.relationStatus ==='Active'" ui-sref-active="active"><a ng-click="$ctrl.navigate('app.customer.orders')" >{{"customer.menu.orders" | translate }}</a></li>
                    <li permission permission-only="['managePayments','manageCustomers']" ui-sref-active="active"><a ng-click="$ctrl.navigate('app.customer.payments')" >{{"customer.menu.payment" | translate }}</a></li>
                </ul>
                <button ng-show="($ctrl.permissions.manageCustomers || $ctrl.permissions.manageOrders)" id="cart-btn" class="btn btn-primary floating-nav-button" style="min-width: 100px" data-toggle="modal" data-target="#cartModal" ng-click="$ctrl.hideHorizontalMenu()"
                         title='{{"header.cart" | translate }}'>
                    <i class="fa fa-shopping-cart cart pull-right"></i>
                    <span style="line-height: 26px">{{cartItems}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
            <ui-view/>
        </div>
        <div class="container container-fixed-lg footer">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="hint-text">{{"footer.copyright" | translate }} </span>
                    <span class="font-montserrat">{{"footer.project_name" | translate }}</span>.
                    <span class="hint-text">{{"footer.rights" | translate }}</span>
                    <span class="sm-block"><a ui-sref="app.customer.privacy" class="m-l-10 m-r-10">{{"footer.terms" | translate }} & {{"footer.privacy" | translate }}</a></span>
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    {{"footer.hand_craft_statement" | translate }} <a href="#">{{"footer.developer" | translate }}</a> <span class="hint-text">{{"footer.made_statement" | translate }}</span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<script>

        var animationTimer;

        var hMenu = $("[data-pages-init='horizontal-menu']");
        autoHideLi();
        $(document).on('click', '.menu-bar > ul > li', function(){
            if($(this).children("ul").length == 0){
                return;
            }
            if($(window).width() < 992) {
                var menubar = $('.menu-bar');
                var el = $(this);
                var li = menubar.find('li');
                var sub = $(this).children('ul');

                if(el.hasClass("open active")){
                    el.find('.arrow').removeClass("open active");
                    sub.slideUp(200, function() {
                        el.removeClass("open active");
                    });

                }else{
                    menubar.find('li.open').find('ul').slideUp(200);
                    menubar.find('li.open').find('a').find('.arrow').removeClass('open active');
                    menubar.find('li.open').removeClass("open active");
                    el.find('.arrow').addClass("open active");
                    sub.slideDown(200, function() {
                        el.addClass("open active");
                    });
                }
            } else {
                if($(this).hasClass('opening')){
                    _hideMenu($(this));
                }
                else{
                    _showMenu($(this));
                }
            }

        });

        var resizeTimer;
        $(window).on('resize', function(e) {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(function() {
                autoHideLi();
            }, 250);
        });

        $('.content').on('click', function () {
            $('.horizontal-menu .bar-inner > ul > li').removeClass('open');
            $('.menu-bar > ul > li').removeClass('open opening').children("ul").removeAttr("style");
            $("body").find(".ghost-nav-dropdown").remove();
        });

        $('[data-toggle="horizontal-menu"]').on('click touchstart', function(e) {
            e.preventDefault();
            $('body').toggleClass('horizontal-menu-open');
            if(!$('.horizontal-menu-backdrop').length){
                $('.header').append('<div class="horizontal-menu-backdrop"/>');
                $('.horizontal-menu-backdrop').fadeToggle('fast');
                $('.horizontal-menu-backdrop').on('click touchstart', function () {
                    $('body')
                        .removeClass('horizontal-menu-open');

                    $('.horizontal-menu-backdrop')
                        .fadeToggle('fast', function () {
                            $(this)
                                .remove();
                        });

                    $('.menu-bar')
                        .removeClass('open');
                });
            } else {
                $('.horizontal-menu-backdrop').fadeToggle('fast', function(){
                    $(this).remove();
                });
            }

            $('.menu-bar').toggleClass('open');
        });

        $('.dismiss')
            .on('click touchstart', function () {
                $('body')
                    .removeClass('horizontal-menu-open');

                $('.horizontal-menu-backdrop')
                    .fadeToggle('fast', function () {
                        $(this)
                            .remove();
                    });

                $('.menu-bar')
                    .removeClass('open');
            });


        function autoHideLi(){
            var hMenu  = $("[data-pages-init='horizontal-menu']");
            var extraLiHide = parseInt(hMenu.data("hideExtraLi")) || 0
            if(hMenu.length == 0){
                return
            }
            var hMenuRect = hMenu[0].getBoundingClientRect();
            var liTotalWidth = 0;
            var liCount = 0;
            hMenu.children('ul').children('li.more').remove();
            hMenu.children('ul').children('li').each(function( index ) {
                $(this).removeAttr("style");
                liTotalWidth = liTotalWidth + $(this).outerWidth(true);
                liCount++;
            });

            if($(window).width() < 992) {
                return;
            }

            var possibleLi = parseInt(hMenuRect.width / (liTotalWidth / liCount)) - 1;
            possibleLi = possibleLi - extraLiHide;

            if(liCount > possibleLi){
                var wrapper = createWrapperLI(hMenu);
                for(var i = possibleLi; i < liCount; i++){
                    var currentLi = hMenu.children('ul').children('li').eq(i);
                    var clone = currentLi.clone();
                    clone.children("ul").addClass("sub-menu");
                    wrapper.children("ul").append(clone);
                    currentLi.hide();
                }
            }

        }

        function createWrapperLI(hMenu){
            var li =hMenu.children('ul').append("<li class='more'><a href='javascript:;'><span class='title'><i class='pg pg-more'></i></span></a><ul></ul></li>");
            li = hMenu.children('ul').children('li.more');
            return li;
        }

        function _hideMenu($el){
            var ul  = $($el.children("ul")[0]);
            var ghost = $("<div class='ghost-nav-dropdown'></div>");
            if(ul.length == 0){
                return;
            }
            var rect = ul[0].getBoundingClientRect();
            ghost.css({
                "width":rect.width+"px",
                "height":rect.height+"px",
                "z-index":"auto"
            })
            $el.append(ghost);
            var timingSpeed = ul.children("li").css('transition-duration');

            timingSpeed = parseInt(parseFloat(timingSpeed) * 1000);
            $el.addClass('closing');
            window.clearTimeout(animationTimer);
            animationTimer = window.setTimeout(function(){
                ghost.height(0);
                $el.removeClass('open opening closing');
            },timingSpeed - 80);
        }
        function _showMenu($el){

            var ul  = $($el.children("ul")[0]);
            var ghost = $("<div class='ghost-nav-dropdown'></div>");
            $el.children(".ghost-nav-dropdown").remove();
            $el.addClass('open').siblings().removeClass('open opening');
            if(ul.length == 0){
                return;
            }
            var rect = ul[0].getBoundingClientRect();
            ghost.css({
                "width":rect.width+"px",
                "height":"0px"
            });
            $el.append(ghost);
            ghost.height(rect.height);
            var timingSpeed = ghost.css('transition-duration');

            timingSpeed = parseInt(parseFloat(timingSpeed) * 1000)
            window.clearTimeout(animationTimer);
            animationTimer = window.setTimeout(function(){
                $el.addClass('opening');
                ghost.remove()
            },timingSpeed);
        }

</script>
<!--
<div  ng-include="template.url"></div>
-->

<cart-component></cart-component>
