<!-- START PAGE CONTENT WRAPPER -->

<div class="page-content-wrapper ">

    <!-- START PAGE CONTENT -->
    <div class="container  no-padding">

        <div class="secondary-sidebar-toggle bg-master-lighter padding-10 text-center hidden-xs-up">
            <a href="#" data-init="secondary-side-toggle" class="secondary-side-toggle"><i class="pg pg-more"></i></a>
        </div>
        <div class="secondary-side light" data-init="secondary-sidebar">
            <ul class="main-menu">
                <li class="active top-level">
                    <back></back>
                </li>
            </ul>
        </div>

        <div class="inner-content p-t-15 p-r-20 p-l-20 relative">
            <div class="sidebar-border"></div>

            <div ng-show="$ctrl.orderIsLoaded" class="content">
                <div class="container">

                    <ol class="breadcrumb breadcrumb-alt">
                        <li class="breadcrumb-item"><a ui-sref="app.customer.orders.list" ui-sref-opts="{reload:true}">{{"customer.menu.orders"
                            | translate }}</a></li>
                        <li ng-if="$ctrl.order.status === 'Pending'" class="breadcrumb-item"><a>{{"customer.orders.newOrders"
                            | translate }}</a></li>
                        <li ng-if="$ctrl.order.status === 'Accepted'" class="breadcrumb-item"><a>{{"customer.orders.preparation"
                            | translate }}</a></li>
                        <li ng-if="$ctrl.order.status === 'ReadyForDelivery' || $ctrl.order.status === 'OutForDelivery'"
                            class="breadcrumb-item"><a>{{"customer.orders.delivery" | translate }}</a></li>
                        <li ng-if="$ctrl.order.status === 'Rejected' || $ctrl.order.status === 'Canceled'"
                            class="breadcrumb-item"><a>{{"customer.orders.failed" | translate }}</a></li>
                        <li ng-if="$ctrl.order.status === 'Delivered'" class="breadcrumb-item"><a>{{"customer.orders.review"
                            | translate }}</a></li>
                        <li class="breadcrumb-item active">{{$ctrl.order.orderId}}</li>
                    </ol>
                </div>
                <div class="demo">
                    <ul class="progress-tracker progress-tracker--text progress-tracker--center">
                      <li ng-class="$ctrl.progressMarkerStatus.Pending.style">                     
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                          <span class="progress-text">Pending</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Pending.createdAt !== ''">{{$ctrl.progressMarkerStatus.Pending.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Pending.createdAt !== ''">{{$ctrl.progressMarkerStatus.Pending.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
            
                      <li ng-class="$ctrl.progressMarkerStatus.Accepted.style">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                          <span class="progress-text">Accepted</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Accepted.createdAt !== ''">{{$ctrl.progressMarkerStatus.Accepted.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Accepted.createdAt !== ''">{{$ctrl.progressMarkerStatus.Accepted.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
            
                      <li ng-class="$ctrl.progressMarkerStatus.ReadyForDelivery.style">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                          <span class="progress-text">Ready For Delivery</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.ReadyForDelivery.createdAt !== ''">{{$ctrl.progressMarkerStatus.ReadyForDelivery.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.ReadyForDelivery.createdAt !== ''">{{$ctrl.progressMarkerStatus.ReadyForDelivery.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
            
                      <li ng-class="$ctrl.progressMarkerStatus.OutForDelivery.style">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                          <span class="progress-text">Out For Delivery</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.OutForDelivery.createdAt !== ''">{{$ctrl.progressMarkerStatus.OutForDelivery.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.OutForDelivery.createdAt !== ''">{{$ctrl.progressMarkerStatus.OutForDelivery.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
            
                      <li ng-class="$ctrl.progressMarkerStatus.Delivered.style">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                          <span class="progress-text">Delivered</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Delivered.createdAt !== ''">{{$ctrl.progressMarkerStatus.Delivered.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Delivered.createdAt !== ''">{{$ctrl.progressMarkerStatus.Delivered.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
                      <li ng-class="$ctrl.progressMarkerStatus.Rejected.style">
                        <span class="progress-marker-fail"></span>
                        <span class="progress-text">
                          <span class="progress-text">Rejected</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Rejected.createdAt !== ''">{{$ctrl.progressMarkerStatus.Rejected.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Rejected.createdAt !== ''">{{$ctrl.progressMarkerStatus.Rejected.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
                      <li ng-class="$ctrl.progressMarkerStatus.Canceled.style">
                        <span class="progress-marker-fail"></span>
                        <span class="progress-text">
                          <span class="progress-text">Canceled</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Canceled.createdAt !== ''">{{$ctrl.progressMarkerStatus.Canceled.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.Canceled.createdAt !== ''">{{$ctrl.progressMarkerStatus.Canceled.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
                      <li ng-class="$ctrl.progressMarkerStatus.FailedToDeliver.style">
                        <span class="progress-marker-fail"></span>
                        <span class="progress-text">
                          <span class="progress-text">Failed To Deliver</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.FailedToDeliver.createdAt !== ''">{{$ctrl.progressMarkerStatus.FailedToDeliver.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                          <span class="label upper-case" ng-if="$ctrl.progressMarkerStatus.FailedToDeliver.createdAt !== ''">{{$ctrl.progressMarkerStatus.FailedToDeliver.createdAt| amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </span>
                      </li>
                    </ul>
            
                  </div>
                <div class="card card-details"
                     ng-if="(!$ctrl.order && $ctrl.orderIsLoaded && !$ctrl.noInternetConnection) || $ctrl.hasError">
                    <div class="row">
                        <div class="col">
                            <div class="tx-center p-t-50 p-b-50">
                                <div class="card-image-overlay"></div>
                                <img src="assets/img/cards/no-orders.svg">
                                <p class="paragraph m-t-10">{{"customer.order.view.noOrder" | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-details" ng-if="$ctrl.noInternetConnection">
                    <div class="row">
                        <div class="col">
                            <div class="tx-center p-t-50 p-b-50">
                                <div class="card-image-overlay"></div>
                                <img src="assets/img/cards/no-conection.svg">
                                <p class="paragraph m-t-10">{{"customer.order.view.noInternet" | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="$ctrl.order.status === 'Delivered'" class="card card-details">
                    <div class="card-header">
                        <div class="card-title">
                            {{"customer.order.view.review" | translate }}
                        </div>
                        <div class="card-description">
                            {{$ctrl.order.customer.representativeName}} •
                            <span class="label upper-case">{{$ctrl.order.review.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                            <span class="label upper-case">{{$ctrl.order.review.createdAt | amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                        </div>
                    </div>
                    <div class="card-block p-r-0 p-l-0">
                        <div class="row p-b-10">
                            <div class="col-sm">
                                <div class="form-group form-group-default p-t-10 p-b-10">
                                    <p class="p-0 m-0">{{"customer.order.view.condition" | translate }}
                                        <star-rating ng-model="$ctrl.review.itemCondition" readonly="$ctrl.order.review"
                                                     on-rating-select="$ctrl.setItemConditionRating(rating)"></star-rating>
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group form-group-default p-t-10 p-b-10">
                                    <p class="p-0 m-0">{{"customer.order.view.delivery" | translate }}
                                        <star-rating ng-model="$ctrl.review.delivery" readonly="$ctrl.order.review"
                                                     on-rating-select="$ctrl.setDeliveryRating(rating)"></star-rating>
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group form-group-default p-t-10 p-b-10">
                                    <p class="p-0 m-0">{{"customer.order.view.overall" | translate }}
                                        <star-rating ng-model="$ctrl.review.overall" readonly="$ctrl.order.review"
                                                     on-rating-select="$ctrl.setOverallRating(rating)"></star-rating>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col">
                                <div class="form-group form-group-default p-t-10 p-b-10" ng-if="$ctrl.orderIsLoaded">
                                    <label class="label-lg" for="orderReviewNotes">{{"customer.order.view.note" |
                                        translate
                                        }}</label>
                                    <textarea  ng-disabled="$ctrl.order.review" class="form-control" style="min-height: 58px;" id="orderReviewNotes"
                                              ng-model="$ctrl.review.notes">
                            </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button ng-if="!$ctrl.order.review" ng-click="$ctrl.reviewOrder()"
                                        ng-disabled="$ctrl.order.review || $ctrl.review.notes.trim() === '' || $ctrl.review.overall === 0 || $ctrl.review.itemCondition == 0 || $ctrl.review.delivery === 0"
                                        class="btn btn-primary pull-right">{{"customer.order.view.send" | translate }}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card card-details"
                     ng-if="($ctrl.order.status === 'Rejected' || $ctrl.order.status === 'Canceled') && $ctrl.order.message">
                    <div class="card-header ">
                        <div class="card-title">
                            {{"customer.order.view.failedToDeliver" | translate }}
                        </div>
                    </div>
                    <div class="card-block p-r-0 p-l-0">
                        <div class="form-group form-group-default">
                            <label class="label-lg">{{"customer.order.view.failReason" | translate }}</label>
                            <p>{{$ctrl.order.message}}</p>
                        </div>
                    </div>
                </div>
                <div class="hidden-lg-up pull-left m-b-10">
                    <back></back>
                </div>
                <div class="card card-details-table"
                     ng-show="$ctrl.order  && !$ctrl.noInternetConnection && !$ctrl.hasError">
                    <div class="card-header header-bg">
                        <button class="btn btn-transparent btn-lg pull-right m-b-10"
                                ng-click="$ctrl.printOrderDetails('pdf')">{{"customer.order.view.print" | translate }}
                        </button>
                        <shimmer hide="$ctrl.orderIsLoaded" row="2" clipped="true"></shimmer>
                        <div ng-show="$ctrl.orderIsLoaded">
                            <div class="card-title">
                                <div>{{'customer.order.text.orderNumber' | translate}} : {{$ctrl.order.orderId}}</div>
                                <span>{{'customer.order.text.orderStatus' | translate}} : </span>
                                <span ng-if="$ctrl.order.status === 'Accepted'" class="label label-success upper-case">
                                {{"customer.order.view.status.accepted" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'Pending'" class="label upper-case">{{"customer.order.view.status.new" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'Rejected'"
                                      class="label label-important upper-case">{{"customer.order.view.status.rejected" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'Canceled'"
                                      class="label label-important upper-case">{{"customer.order.view.status.canceled" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'CanceledByCustomer'"
                                      class="label label-important upper-case" data-toggle="tooltip"
                                      title="{{'customer.order.view.status.canceledByCustomer2' | translate }}">{{"customer.order.view.status.canceledByCustomer" | translate }} <i
                                        class="fa fa-info-circle fa-lg"></i></span>
                                <span ng-if="$ctrl.order.status === 'FailedToDeliver'"
                                      class="label label-important upper-case">{{"customer.order.view.actions.buttons.failedToDeliver" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'ReadyForDelivery'"
                                      class="label label-info upper-case">{{"customer.order.view.status.ready" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'OutForDelivery'"
                                      class="label label-inverse upper-case">{{"customer.order.view.status.out" | translate }}</span>
                                <span ng-if="$ctrl.order.status === 'Delivered'" class="label label-success upper-case">{{"customer.order.view.status.delivered" | translate }}</span>
                                <span ng-if="$ctrl.order.isRecurring" class="label label-warning upper-case">{{"customer.order.view.status.recurring" | translate }}</span>
                                <span ng-if="$ctrl.order.orderIntervalType" class="label label-warning upper-case">{{"customer.order.view.status.recurring" | translate }}</span>
                                <span ng-if="$ctrl.order.orderIntervalType" class="label label-warning upper-case">{{$ctrl.order.orderFrequency + ' ' + $ctrl.interval}}</span>
                            </div>
                            <div class="card-description">
                                {{$ctrl.order.supplier.representativeName}} •
                                <span class="label upper-case">{{$ctrl.order.createdAt| amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                                <span class="label upper-case">{{$ctrl.order.createdAt | amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-block card-wide-padding wide-leftup">
                        <shimmer hide="$ctrl.orderIsLoaded" col="6" clipped="true"></shimmer>

                        <div class="dataTables_wrapper p-b-20">
                            <div class="table-responsive">
                                <table ng-if="$ctrl.orderIsLoaded" class="table table-striped table-compact"
                                       id="tableWithExportOptions">
                                    <thead>
                                    <tr>
                                        <th>{{"customer.order.view.table.productName" | translate }}</th>
                                        <th>{{"customer.order.view.table.quantity" | translate }}</th>
                                        <th class="text-center" ng-hide="$ctrl.order.orderFrequency">
                                            {{"customer.order.view.table.status" | translate }}
                                        </th>
                                        <th>{{"customer.order.view.table.unitPrice" | translate }}</th>
                                        <th>{{"customer.order.view.table.total" | translate }}</th>
                                        <th ng-if="$ctrl.productViewMode === 'viewMode' && ( $ctrl.order.status == 'Pending' || $ctrl.order.status =='Active') "
                                            width="40px">
                                            <button ng-click="$ctrl.setProductsViewMode('editMode')" class="btn btn-xs">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </th>
                                        <th ng-if="$ctrl.productViewMode === 'editMode' && ( $ctrl.order.status == 'Pending' || $ctrl.order.status =='Active')"
                                            width="40px">
                                            <button ng-click="$ctrl.setProductsViewMode('viewMode')" class="btn btn-xs">
                                                Cancel
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in $ctrl.order.products">
                                        <td class="mn-150">
                                            {{ currentLanguage.language === 'ar'?item.product.arabicName :
                                            item.product.englishName}}
                                        </td>
                                        <td class="mn-120" ng-class="{'p-10i':$ctrl.productViewMode =='editMode'}">
                                            <span ng-show="$ctrl.productViewMode === 'viewMode'">{{item.quantity}}</span>
                                            <input ng-show="$ctrl.productViewMode === 'editMode'" type="number"
                                                   ng-model="item.quantity" min="1"
                                                   style="max-width: 80px;margin: auto;" class="form-control input-sm"
                                                   ng-blur="$ctrl.order.status == 'Pending' ? $ctrl.editProductInOrder(item._id, item.quantity) : $ctrl.editProductInRecurringOrder(item._id, item.quantity, $ctrl.order._id)">
                                            <small ng-if="$ctrl.productViewMode === 'viewMode'">{{
                                                currentLanguage.language === 'ar'? item.product.unit.arabicName :
                                                item.product.unit.englishName}}
                                            </small>
                                        </td>
                                        <td class="mn-150" ng-hide="$ctrl.order.orderFrequency">

                                    <span class="label label-important upper-case"
                                          ng-if="item.status === 'Rejected'">
                                        {{"customer.order.status.rejected" | translate }}
                                    </span>

                                            <span class="label label-warning upper-case"
                                                  ng-if="item.status === 'Pending'">
                                           {{"customer.order.status.pending" | translate }}
                                    </span>

                                            <span class="label label-success upper-case"
                                                  ng-if="item.status === 'Accepted'">
                                          {{"customer.order.status.approved" | translate }}
                                    </span>
                                        </td>
                                        <td class="mn-120">{{item.price}} {{'customer.currency' | translate}}</td>
                                        <td class="mn-120">{{item.price * item.quantity}} {{'customer.currency' |
                                            translate}}
                                        </td>
                                        <td width="40px" ng-class="{'p-10i':$ctrl.productViewMode =='editMode'}">
                                            <button ng-if="$ctrl.productViewMode === 'editMode'"
                                                    ng-click="$ctrl.checkProductForDelete($ctrl.order, item)"
                                                    class="no-animate btn btn-danger btn-xs"><i class="pg-trash"></i>
                                            </button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <list-pagination total-pages="$ctrl.totalPages"
                                                 on-page-click="$ctrl.getPage(pageNumber)"
                                                 current-page="$ctrl.currentPage">
                                </list-pagination>
                            </div>


                        </div>

                        <div class="col-md-12 padding-0"
                             ng-show="$ctrl.productsAreLoaded &&( $ctrl.order.status == 'Pending' || $ctrl.order.status =='Active')">
                            <div class="form-group-attached  m-t-20">
                                <div class="row">
                                    <div class="col-sm-7 col-md-7 col-lg-8">


                                        <div class="form-group form-group-custom form-group-default form-group-default-select2">
                                            <label class="label-custom">{{"customer.order.label.productName" |
                                                translate}}</label>
                                            <select class="full-width" data-placeholder="Select" id="productSelect"
                                                    name="productSelect"
                                                    data-init-plugin="select2"
                                                    ng-model="$ctrl.selectedProduct" >
                                                <option ng-repeat="item in $ctrl.products" ng-value="item">
                                                    {{
                                                    currentLanguage.language === 'ar'? item.arabicName :
                                                    item.englishName }}
                                                </option>
                                            </select>

                                        </div>

                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-2">
                                        <div class="form-group form-group-default">
                                            <label>{{"customer.order.label.productQuantity" | translate}}</label>
                                            <input type="number" ng-model="$ctrl.quantity" min="1"
                                                   placeholder= "{{'customer.order.button.quantity'| translate}}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 no-margin no-padding d-flex">
                                        <button ng-click="$ctrl.order.status == 'Pending' ? $ctrl.addProductToOrder() : $ctrl.addProductToRecurringOrder()"
                                                ng-class="{'disabled': !$ctrl.quantity || !$ctrl.selectedProduct}"
                                                class="btn btn-primary btn-block align-self-stretch d-flex align-items-center justify-content-center">
                                            {{"customer.order.button.addProduct" | translate}}
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--<div class="col-sm-5">-->
                            <!--<div ng-if="$ctrl.order.status === 'FailedToDeliver' || $ctrl.order.status === 'Canceled'">-->
                            <!--<label class="label label-important upper-case m-l-5">{{'customer.message' |-->
                            <!--translate}}</label>-->
                            <!--<div class="m-l-5" ng-if="!$ctrl.order.message">{{'customer.noMessage' |-->
                            <!--translate}}-->
                            <!--</div>-->
                            <!--<div class="m-l-5" ng-if="$ctrl.order.message">{{$ctrl.order.message}}</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="col-sm-7 d-flex flex-wrap justify-content-start justify-content-sm-end align-items-start m-t-20">
                                <div class="recur_order" style=""><span class="bold">{{'customer.sub_total' | translate}} </span>
                                    <span ng-if="$ctrl.order.total"> {{$ctrl.order.total | currency : "" : 2}}</span>
                                    <span ng-if="$ctrl.order.price"> {{$ctrl.order.price | currency : "" : 2}}</span>
                                </div>
                                <div class="recur_order" style=""><span
                                        class="bold">{{'customer.vat' | translate}} </span>
                                    <span> {{$ctrl.order.VAT  | currency : "" : 2}}</span>
                                </div>
                                <div class="recur_order" style=""><span class="bold">{{'customer.total_price' | translate}} </span>
                                    <span ng-if="$ctrl.order.total"> {{($ctrl.order.VAT + $ctrl.order.total) | currency : "" : 2}}</span>
                                    <span ng-if="$ctrl.order.price"> {{($ctrl.order.VAT + $ctrl.order.price) | currency : "" : 2}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix m-t-20">
                            <div class="pull-left">
                                <button onclick="$('#cancelOrderModal').modal('show');"
                                        ng-if="( $ctrl.order.status == 'Pending' || $ctrl.order.status =='Active')"
                                        class="btn btn-warnning btn-lg mb-2 mb-sm-0">
                                    {{"customer.order.view.actions.buttons.cancel" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>


                    <div ng-if="$ctrl.orderIsLoaded" class="card-image flex-1"
                         background="{{$ctrl.order.supplier.coverPhoto}}">
                        <div class="card-image-overlay"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col padding-20  contact-info">
                                <shimmer hide="$ctrl.orderIsLoaded" row="5" clipped="true"></shimmer>
                                <contact ng-if="$ctrl.orderIsLoaded">
                                    <h5 class="title">{{$ctrl.order.supplier.representativeName}}</h5>
                                    <p>{{"customer.order.view.branchName" | translate }} :
                                        {{$ctrl.order.branch.branchName}}</p>
                                    <P>{{"customer.order.view.repName" | translate }} :
                                        {{$ctrl.order.supplier.representativeName}}</P>
                                    <P>{{"customer.order.view.phone" | translate }} :
                                        {{$ctrl.order.supplier.user.mobileNumber}}</P>
                                    <P>{{"customer.order.view.email" | translate }} :
                                        {{$ctrl.order.supplier.user.email}}</P>
                                    <p class="address">{{"customer.order.view.address" | translate }} :
                                        {{$ctrl.order.branch.location.address}}</p>
                                        <h5 class="title" ng-if="$ctrl.order.driver">{{"customer.order.view.driverDetails" | translate }}</h5>
                                        <p ng-if="$ctrl.order.driver"> {{"customer.order.view.firstName" | translate }}: {{$ctrl.order.driver.firstName}}</p>
                                        <p ng-if="$ctrl.order.driver"> {{"customer.order.view.lastName" | translate }}: {{$ctrl.order.driver.lastName}}</p>
                                        <p ng-if="$ctrl.order.driver"> {{"customer.order.view.mobileNumber" | translate }}: {{$ctrl.order.driver.mobileNumber}}</p>                                        
                                </contact>
                            </div>
                            <div class="col padding-0">
                                <div class="map-container" style="min-width: 410px; height: 200px">
                                    <!-- center="{{$ctrl.formData.coordinates}}" -->
                                    <ng-map ng-if="$ctrl.orderIsLoaded"
                                            center="{{$ctrl.order.supplier.location.coordinates}}"
                                            draggable="false"
                                            id="map" zoom="11"
                                            style="height: 100%">
                                        <marker
                                                on-click="$ctrl.markerClicked($ctrl.order.supplier.location.coordinates)"
                                                position="{{$ctrl.order.supplier.location.coordinates}}"
                                                title="Location" animation="Animation.DROP"></marker>
                                    </ng-map>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-details padding-20" ng-if="$ctrl.orderLog.length > 0">
                    <shimmer hide="$ctrl.orderLogIsLoaded" clipped="true"></shimmer>
                    <div class="table-responsive">
                        <table ng-if="$ctrl.orderLogIsLoaded" class="table table-striped" id="orderLogsTable">
                            <thead>
                            <tr>
                                <th width="180">{{"customer.order.log.date" | translate }}</th>
                                <th width="180">{{"customer.order.log.status" | translate }}</th>
                                <th>{{"customer.order.log.activity" | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.orderLog">
                                <td class="mn-170">
                                    <span class="label upper-case">{{item.createdAt  | amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                                    <span class="label upper-case">{{item.createdAt  | amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                                </td>
                                <td class="mn-170">
                                    <span ng-if="item.status === 'Accepted'" class="label label-success upper-case">{{"customer.order.view.status.accepted" | translate }}</span>
                                    <span ng-if="item.status === 'Pending'" class="label upper-case">{{"customer.order.view.status.new" | translate }}</span>
                                    <span ng-if="item.status === 'Rejected'" class="label label-important upper-case">{{"customer.order.view.status.rejected" | translate }}</span>
                                    <span ng-if="item.status === 'Canceled'" class="label label-important upper-case">{{"customer.order.view.status.canceled" | translate }}</span>
                                    <span ng-if="item.status === 'FailedToDeliver'"
                                          class="label label-important upper-case">{{"customer.order.view.actions.buttons.failedToDeliver" | translate }}</span>
                                    <span ng-if="item.status === 'ReadyForDelivery'"
                                          class="label label-info upper-case">{{"customer.order.view.status.ready" | translate }}</span>
                                    <span ng-if="item.status === 'OutForDelivery'"
                                          class="label label-inverse upper-case">{{"customer.order.view.status.out" | translate }}</span>
                                    <span ng-if="item.status === 'Delivered'" class="label label-success upper-case">{{"customer.order.view.status.delivered" | translate }}</span>
                                </td>
                                <td class="mn-170">{{"customer.order.log.by" | translate }}
                                    <span ng-if="item.userType === 'Supplier'">{{"customer.order.log.supplier" | translate }}</span>
                                    <span ng-if="item.userType === 'Customer'">{{"customer.order.log.customer" | translate }}</span>
                                    {{item.userName}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <shimmer col="4" row="4" hide="$ctrl.orderIsLoaded" clipped="true"></shimmer>
        </div>
    </div>
</div>

<div class="modal fade disable-scroll slide-up" id="deleteProductFromOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                        class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{"customer.order.message.confirmDeleteLastProduct" | translate }}</span>
                </h5>
                <p></p>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <button onclick="$('#deleteProductFromOrder').modal('hide');"
                                class="btn btn-primary btn-block m-t-5">{{"customer.account.profile.button.cancel" |
                            translate }}
                        </button>
                    </div>
                    <div class="col-6">
                        <button ng-click=" $ctrl.order.status == 'Pending' ? $ctrl.cancelOrder() : $ctrl.cancelRecurringOrder()"
                                class="btn btn-danger btn-block m-t-5">
                            {{"customer.account.profile.button.delete_branch" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade disable-scroll slide-up" id="cancelOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                        class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{"customer.order.message.cancelConfirmation" | translate }}</span>
                </h5>
                <p></p>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <button onclick="$('#cancelOrderModal').modal('hide');"
                                class="btn btn-primary btn-block m-t-5">{{"customer.account.profile.button.cancel" |
                            translate }}
                        </button>
                    </div>
                    <div class="col-6">
                        <button ng-click=" $ctrl.order.status == 'Pending' ? $ctrl.cancelOrder() : $ctrl.cancelRecurringOrder()"
                                class="btn btn-danger btn-block m-t-5">
                            {{"customer.cart.deleteModel.button.confirm" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#productSelect').on('select2:open',function(){
            let that = $(this);
            let flag = false;
            if ( $(window).width() > 739) {
                $(window).bind('wheel', function(e) {
                    // if(!flag && e.target.className === 'select2-results__option'){
                    //     // that.select2("close");
                    //     console.log('scroll');
                    // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    //     that.select2("open");
                    //     console.log('scroll');
                    // }
                });
            }
            else {
                $(window).bind('wheel', function(e) {
                    console.log(e.target);
                    if(!flag && e.target.className === 'select2-results__option'){
                        // that.select2("close");
                        console.log('scroll');
                    } else if(!flag &&  e.target.className !== 'select2-results__option'){
                        that.select2("close");
                        console.log('scroll');
                    }
                    else
                        flag = true;
                });
            }
        });
    });
    $('#branch2 , #status2').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });

var $menu = $(".secondary-side");

    $('.secondary-side-toggle').click(function () {
        if (!$menu.hasClass('active')) {
            $menu.addClass("active");
            $(document).one('click', function closeTooltip(e) {
                if ($menu.has(e.target).length === 0 && $('.secondary-side-toggle').has(e.target).length === 0) {
                    $menu.removeClass('active');
                } else if ($menu.hasClass('active')) {
                    $(document).one('click', closeTooltip);
                }
            });
        } else {
            $menu.removeClass("active");
        }

    });

    $('.secondary-side ul').on('click', 'li', function () {
        $menu.toggleClass("active");
    });

</script>