<div class="modal fade slide-right" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" style="max-width:500px;">
        <div class="modal-content-wrapper">
            <div class="modal-content table-block">
                <div style="min-height: 50px;" class="bg-primary">
                    <h6 class="text-white w600 m-l-30 m-t-10 m-b-10"><i class="fa fa-shopping-cart p-r-10"></i>{{'customer.cart.title' | translate}}</h6>
                    <!--<p class="text-center white-text">{{$ctrl.customer.cart.supplier.representativeName}}</p>-->
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close"></i></button>
                
                <div class="padding-20" style="background-color: #f7f7f7;">
                    <div class="form-group form-group-custom form-group-default form-group-default-select2">
                        <label>{{'customer.cart.supplierLabel' | translate}}</label>
                        <select id="status2" name="status" class="full-width" data-disable-search="true" data-placeholder=""
                                data-init-plugin="select2"
                                placeholder=""
                                class="form-control"
                                ng-model="$ctrl.supplierId"
                                ng-change="$ctrl.changeSupplier()">
                            <option ng-repeat="sup in $ctrl.customer.suppliers" value ="{{sup.supplier._id}}">
                                {{sup.supplier.representativeName}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group form-group-custom form-group-default form-group-default-select2">
                        <label>{{'customer.cart.branchLabel' | translate}}</label>
                        <select id="branch2" name="branch" class="full-width" data-disable-search="true" data-placeholder=""
                                data-init-plugin="select2"
                                placeholder=""
                                class="form-control"
                                ng-model="$ctrl.customer.branchId">
                            <option ng-repeat="branch in $ctrl.customer.branches" value ="{{branch._id}}">
                                {{branch.branchName}}
                            </option>
                        </select>
                    </div>


                    <div class="d-flex flex-wrap justify-content-center p-t-5">
                        <div class="m-b-5 p-r-5 text-center">
                            <span class="total-badges fs-12">{{'customer.cart.monthlyCredit' | translate}}<span class="label label-default m-l-5">{{$ctrl.customer.balanceDetails.monthCredit | currency : "" : 2  }} / {{$ctrl.customer.balanceDetails.creditLimit | currency : "" : 0  }} {{'customer.currency' | translate}}</span></span>
                        </div>
                        <div class="m-b-5 p-l-5 text-center">
                            <span class="total-badges fs-12">{{'customer.cart.currentBalance' | translate}}<span class="label label-success m-l-5" ng-class="{'label-important': $ctrl.customer.balanceDetails.balance < 0, 'label-warning': $ctrl.customer.balanceDetails.balance == 0}">{{$ctrl.customer.balanceDetails.balance | currency : "" : 2 }} {{'customer.currency' | translate}}</span></span>
                        </div>
                    </div>
                </div>

                <div ng-show="!cartIsCheck" class="modal-body v-align-middle">

                    <div class="row" ng-if="!$ctrl.customer.balanceDetails.canOrder && (!$ctrl.success)">
                        <div  class="reset-success text-center w-100 m-t-125">
                            <img style="width: 120px" src="assets/img/icons/ic_cart_limit.svg">
                            <h5 class="m-t-0 m-b-0 bold">{{'customer.cart.checkoutLimitMessage_1' | translate}}</h5>
                            <p class="fs-14">{{'customer.cart.checkoutLimitMessage_2' | translate}}</p>
                        </div>
                    </div>

                    <div class="row" ng-if="($ctrl.customer.cart.products.length==0) && (!$ctrl.success) && $ctrl.customer.balanceDetails.canOrder">
                        <div  class="reset-success text-center w-100 m-t-125">
                            <img style="width: 120px" src="assets/img/icons/ic_cart_empty.svg">
                            <h5 class="m-t-0 m-b-0 bold">{{'customer.cart.checkoutEmptyMessage_1' | translate}}</h5>
                            <p class="fs-14">{{'customer.cart.checkoutEmptyMessage_2' | translate}}</p>
                        </div>
                    </div>
                    <div class="row" ng-if="($ctrl.customer.cart.products.length==0) && ($ctrl.success)">
                        <div class="reset-success text-center w-100 m-t-125 animated fadeInUp">
                            <img style="width: 120px" src="assets/img/icons/ic_cart_success.svg">
                            <h5 class="m-t-0 m-b-0 bold">{{'customer.cart.checkoutDoneMessage_1' | translate}}</h5>
                            <p class="fs-14">{{'customer.cart.checkoutDoneMessage_2' | translate}}</p>
                            <a href="">{{'customer.cart.checkoutDoneMessage_link' | translate}}</a>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.hasError && $ctrl.checkoutCartFinal">
                        <div class="reset-success text-center w-100 m-t-125 animated fadeInUp">
                            <img style="width: 120px" src="assets/img/icons/ic_cart_error.svg">
                            <p class="fs-14">{{'customer.cart.checkoutErrorMessage' | translate}}</p>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.noInternetConnection && $ctrl.checkoutCartFinal">
                        <div class="reset-success text-center w-100 m-t-125 animated fadeInUp">
                            <img style="width: 120px" src="assets/img/icons/ic_cart_error.svg">
                            <p class="fs-14">{{'customer.cart.checkoutInternetConnectionMessage' | translate}}</p>
                        </div>
                    </div>
                    <!--<div class="row" ng-if="$ctrl.noInternetConnection">-->
                        <!--<div  class="reset-success text-center w-100" style="margin-top:100px;">-->
                            <!--<img src="assets/img/cards/file.svg">-->
                            <!--<h5 class="">{{'customer.cart.checkoutErrorMessage' | translate}}</h5>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div ng-if="$ctrl.customer.cart.products.length>0 && $ctrl.customer.balanceDetails.canOrder">
                        <div class="row m-t-10">
                            <div class="col-2"></div>
                            <div class="col-5"><p class="text-uppercase fs-13 text-master">{{'customer.cart.productName' | translate}}</p></div>
                            <div class="col-2"><p class="text-uppercase fs-13 text-master">{{'customer.cart.quantity' | translate}}</p></div>
                            <div class="col"><p class="text-uppercase text-right fs-13 text-master">{{'customer.cart.price' | translate}}</p></div>
                        </div>
                        <div  ng-repeat="item in $ctrl.customer.cart.products" class="row m-b-20">
                            <div class="col-2"><span class="btn btn-default" ng-click="$ctrl.deleteProductFromCart(item.product._id, $ctrl.supplierId)">
                                <i class="fa fa-trash"></i></span>
                            </div>
                            <div class="col-5">
                                <p class="text-uppercase m-t-0 m-b-0 fs-15">
                                    {{$ctrl.$translate.use()=== 'ar'? item.product.arabicName : item.product.englishName}}
                                </p>
                                <p class="text-uppercase m-t-0 fs-13 text-master"><span class="bold">{{item.price}} </span><span>{{'customer.currency' | translate}}</span> /{{$ctrl.$translate.use()=== 'ar' ?item.product.unit.arabicName : item.product.unit.englishName}}</p>
                            </div>
                            <div class="col-2">
                                <input style="width: 100%" class="text-center" ng-blur="$ctrl.updateProductQuantity(item.product._id, item.quantity, $ctrl.supplierId)" type="text" ng-model="item.quantity"/>
                            </div>
                            <div class="col">
                                <h6 class="text-uppercase text-right">
                                    <span class="bold">{{item.price * item.quantity | currency : "" : 2 }} </span><span class="fs-12">{{'customer.currency' | translate}}</span>
                                </h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-t-5">
                            <div class="col"><p class="text-uppercase fs-13 text-master">{{'customer.cart.subTotal' | translate}}</p></div>
                            <div class="col"><p class="text-uppercase text-right"><span class="bold">{{$ctrl.customer.cart.total - $ctrl.customer.cart.vat | currency : "" : 2 }}</span> <span class="fs-12">{{'customer.currency' | translate}}</span></p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p class="text-uppercase fs-13 text-master m-b-0">{{'customer.cart.vat' | translate}}</p></div>
                            <div class="col"><p class="text-uppercase text-right m-b-0"><span class="bold">{{$ctrl.customer.cart.vat | currency : "" : 2 }}</span> <span class="fs-12">{{'customer.currency' | translate}}</span></p></div>
                        </div>
                        <hr>
                        <div class="row m-t-5 m-b-5">
                            <div class="col"><h6 class="text-uppercase m-t-0 fs-13 bold">{{'customer.cart.total' | translate}}</h6></div>
                            <div class="col"><h6 class="text-uppercase m-t-0 text-right"><span class="bold">{{$ctrl.customer.cart.total | currency : "" : 2 }}</span> <span class="fs-12">{{'customer.currency' | translate}}</span></h6></div>
                        </div>
                    </div>
                    <div ng-show="$ctrl.customer.cart.products.length>0 && $ctrl.customer.balanceDetails.canOrder" class="row justify-content-between m-t-30">
                        <div class="col-sm-4">
                            <div class="checkbox check-primary m-t-0">
                                <input type="checkbox" value="1" id="checkbox3" ng-model="$ctrl.isRecurring">
                                <label for="checkbox3">{{'customer.cart.isRecurring' | translate}}</label>
                            </div>

                        </div>
                        <div ng-if="$ctrl.isRecurring" class="col-sm-4 p-r-0 sm-p-r-15">
                            <div class="form-group form-group-default m-b-0">
                                <label class="bold">{{'customer.cart.autoOrderEvery' | translate}}</label>
                                <input type="number" min="1" ng-model="$ctrl.recurringBody.orderFrequency" class="form-control">
                            </div>
                        </div>
                        <div ng-show="$ctrl.isRecurring" class="col-sm-4 p-l-0 sm-p-l-15">
                            <div class="form-group form-group-custom form-group-default form-group-default-select2 m-b-0">
                                <label class="label-custom">{{'customer.cart.intervalType.label' | translate}}</label>
                                <select ng-model="$ctrl.recurringBody.orderIntervalType" class="full-width" data-disable-search="true" data-placeholder="Select" data-init-plugin="select2">
                                    <option value="Day">{{'customer.cart.intervalType.day' | translate}}</option>
                                    <option value="Week">{{'customer.cart.intervalType.week' | translate}}</option>
                                    <option value="Month">{{'customer.cart.intervalType.month' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--data-dismiss="modal"-->
                    <button ng-if="$ctrl.customer.cart.products.length>0 && $ctrl.customer.balanceDetails.canOrder" type="button" class="btn btn-primary btn-block p-t-10 p-b-10 m-b-20 m-t-20"  ng-click="$ctrl.checkoutCart($ctrl.customer.cart._id)">{{'customer.cart.placeOrder' | translate}}</button>


                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade slide-up"  id="deleteModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{"customer.cart.deleteModel.message" | translate }}</span></h5>
                <p></p>

            </div>
            <div class="modal-body">
                <div class="row">
                    <button  onclick="$('#deleteModal').modal('hide');" class="btn btn-primary col-md-4 mx-0 mx-sm-2 m-t-5">{{"customer.cart.deleteModel.button.cancel" | translate }}</button>
                    <button  ng-click="$ctrl.confirmDelete()" class="btn btn-danger col-md-4 mx-0 mx-sm-2 m-t-5">{{"customer.cart.deleteModel.button.confirm" | translate }}</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $('#branch2 , #status2').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });
</script>
