<shimmer hide="!$ctrl.profileIsloading"  clipped="true"></shimmer>
<div ng-show="!$ctrl.profileIsloading" ng-form="profileForm">
    <div class="card">
        <!--<div class="card-header text-center header-bg padding-0" style="background: url({{$ctrl.coverPhoto}});height: 146px;">-->
            <!--<a href="" class="btn btn-primary btn-lg m-t-125">{{'customer.account.profile.button.upload_photo' | translate}}</a>-->
        <!--</div>-->
     <!--   <div class="card-header text-center header-bg padding-0 d-flex flex-column align-items-center justify-content-end" style="background: url({{$ctrl.coverPhoto}});background-repeat:no-repeat;height: 146px;">
            <button class="btn btn-primary" style="margin-bottom: 2px;">
                <input ng-click="$ctrl.uploadCoverPhoto()" file-model="$ctrl.profileCoverPhoto" style="opacity: 0;position: absolute;" type="file" id="fileInput" name="fileInput" />
                {{'customer.account.profile.button.upload_photo' | translate}}
            </button>
            <div id="loading3" ng-if="$ctrl.photoloading" style="position: absolute;" class="progress-circle-indeterminate"></div>
        </div>-->
        <div id="xyz"  class="card-header text-center header-bg cover_photo padding-0"
             background="{{$ctrl.coverPhoto}}" style="high:100%">
            <!--nv-file-over="" uploader="uploader"-->
            <div   class="image-overlay">
                <div class="custom-image-input"   data-pages-bg-image="">
                    <label for="coverPhoto" class="text-white">
                        <i class="pg-plus"></i>
                        {{'customer.account.profile.button.upload_photo' | translate}}
                    </label>
                    <input id="coverPhoto" name="coverPhoto" type="file"   ngf-select="$ctrl.uploadCoverPhoto($file)" ng-model="$ctrl.coverPhoto" required >
                  <!--  <i ng-show="profileForm.coverPhoto.$error.required">{{'customer.account.profile.field.coverPhoto.required' | translate}}</i><br>
                    <i ng-show="profileForm.coverPhoto.$error.maxSize">
                        {{'customer.account.profile.field.coverPhoto.invalid' | translate}}
                    </i>-->

                </div>
            </div>
        </div>


        <div class="card-block card-wide-padding">
            <p class="bold text-uppercase p-l-10">{{'customer.account.profile.text.company_info' | translate}}</p>
            <form role="form" name="profileForm" autocomplete="off" accessible-form novalidate
                  ng-submit="$ctrl.updateMyProfile(profileForm)">
                <div class="form-group-attached">
                    <div class="row clearfix">
                        <div class="form-group form-group-default no-margin required"
                             ng-class="{ 'has-error' : profileForm.representativeName.$invalid && !profileForm.representativeName.$pristine }">

                            <label>
                                {{"customer.account.profile.field.company_name.label" | translate }}
                            </label>
                            <input ng-model="$ctrl.customer.representativeName" id="representativeName" name="representativeName"
                                   class="form-control"  type="text"
                                   minlength="2" maxlength="20"
                                   required>
                        </div>
                        <label class="error" for="representativeName"
                               ng-show="profileForm.representativeName.$error.required && profileForm.representativeName.$pristine">
                            {{"customer.account.profile.field.company_name.required" | translate }}
                        </label>
                        <label class="error" for="representativeName"
                               ng-show="profileForm.representativeName.$error.pattern || profileForm.representativeName.$error.minlength|| profileForm.representativeName.$error.maxlength  && profileForm.$submitted">
                            {{"customer.account.profile.field.company_name.invalid" | translate }}
                        </label>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-10 no-margin no-padding">
                            <div class="form-group form-group-default required "
                                 ng-class="{ 'has-error' : profileForm.commercialRegister.$invalid && !profileForm.commercialRegister.$pristine }">
                                <label>
                                    {{"customer.account.profile.field.cr_number.label" | translate }}
                                </label>
                                <input ng-disabled="true"  ng-model="$ctrl.customer.commercialRegister" name="commercialRegister"
                                       id="commercialRegister" class="form-control"  type="text" placeholder="1952C14"
                                       ng-pattern="/^\d{10}$$/" required>
                            </div>
                            <label class="error" for="commercialRegister" ng-show="profileForm.commercialRegister.$error.required && !profileForm.commercialRegister.$pristine">
                                {{"customer.account.profile.field.cr_number.required" | translate }}
                            </label>
                            <label class="error" for="commercialRegister" ng-show="profileForm.commercialRegister.$error.pattern && !profileForm.commercialRegister.$pristine">
                                {{"customer.account.profile.field.cr_number.invalid" | translate }}.
                            </label>
                        </div>
                        <div class="col-md-6 col-lg-2 no-margin no-padding d-flex">
                            <a href="" data-toggle="modal" data-target="#modalSlideUp" id="update_attachment" style="min-height:35px" class="btn btn-primary btn-block align-self-stretch d-flex align-items-center justify-content-center">{{"customer.account.profile.button.show_cr" | translate }}</a>
                        </div>
                        <div class="col-md-2 no-margin no-padding d-flex align-items-center">
                        </div>
                    </div>
                    <div class="row clearfix">
                            <!--<div class="form-group form-group-default required "-->
                                 <!--ng-class="{ 'has-error' : profileForm.vat.$invalid && !profileForm.vat.$pristine }">-->
                                <!--<label for="vat">-->
                                    <!--{{"customer.account.profile.field.vat.label" | translate }}-->
                                <!--</label>-->
                                <!--<input ng-disabled="true"  ng-model="$ctrl.customer.VATRegisterNumber" name="vat"-->
                                       <!--id="vat" class="form-control"  type="text"-->
                                      <!--required>-->
                            <!--</div>-->
                            <!--<label class="error" for="vat" ng-show="profileForm.vat.$error.required && !profileForm.vat.$pristine">-->
                                <!--{{"customer.account.profile.field.vat.required" | translate }}-->
                            <!--</label>-->
                            <!--<label class="error" for="vat" ng-show="profileForm.vat.$error.pattern && !profileForm.vat.$pristine">-->
                                <!--{{"customer.account.profile.field.vat.invalid" | translate }}.-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="d-flex flex-wrap radio radio-success">-->
                                <!--<div class="m-r-20">-->
                                    <!--<span class="bold fs-12 p-l-5">{{"customer.account.profile.field.select_date.label" | translate }}</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<div class="d-flex">-->
                                        <!--<div>-->
                                            <!--<input  type="radio" ng-model="$ctrl.dateMethod" value="Hijri"  name="paymentMethod" id="hijri">-->
                                            <!--<label for="hijri">{{"customer.account.profile.field.select_date.hijri" | translate }}</label>-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--<input type="radio" ng-model="$ctrl.dateMethod" value="Gregorian" name="paymentMethod" id="gregorian ">-->
                                            <!--<label for="gregorian ">{{"customer.account.profile.field.select_date.gregorian" | translate }}</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-md-12 no-margin no-padding" ng-show="$ctrl.customer.commercialRegisterExpireDate">
                                <div class="form-group form-group-default required "
                                     ng-class="{ 'has-error' : profileForm.commercialRegisterExpireDate.$invalid && !profileForm.commercialRegisterExpireDate.$pristine }">
                                    <label>{{'customer.account.profile.field.cr_Expdate.label' | translate}}</label>
                                    <input ng-model="$ctrl.customer.commercialRegisterExpireDate" name="commercialRegisterExpireDate"
                                           id="commercialRegisterExpireDate" class="form-control unstyled"  type="date"
                                           pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                </div>
                                <label class="error" for="commercialRegisterExpireDate" ng-show="profileForm.commercialRegisterExpireDate.$error.required && !profileForm.commercialRegisterExpireDate.$pristine">
                                    {{"customer.account.profile.field.cr_Expdate.required" | translate }}.
                                </label>
                                <label class="error" for="commercialRegisterExpireDate" ng-show="profileForm.commercialRegisterExpireDate.$error.pattern && !profileForm.commercialRegisterExpireDate.$pristine">
                                    {{"customer.account.profile.field.cr_Expdate.invalid" | translate }}.
                                </label>
                        </div>
                        <div class="col-md-12 no-margin no-padding" ng-show="$ctrl.customer.commercialRegisterExpireDateIslamic">
                            <div class="form-group form-group-default required "
                                 ng-class="{ 'has-error' : profileForm.commercialRegisterExpireDateIslamic.$invalid && !profileForm.commercialRegisterExpireDateIslamic.$pristine }">
                                <label>{{'customer.account.profile.field.cr_Expdate.labelHijri' | translate}}</label>
                                <input ng-model="$ctrl.customer.commercialRegisterExpireDateIslamic" name="commercialRegisterExpireDateIslamic"
                                       id="commercialRegisterExpireDateIslamic" class="form-control unstyled"  type="date"
                                       pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                            </div>
                            <label class="error" for="commercialRegisterExpireDateIslamic" ng-show="profileForm.commercialRegisterExpireDateIslamic.$error.required && !profileForm.commercialRegisterExpireDateIslamic.$pristine">
                                {{"customer.account.profile.field.commercialRegisterExpireDateIslamic.required" | translate }}.
                            </label>
                            <label class="error" for="commercialRegisterExpireDateIslamic" ng-show="profileForm.commercialRegisterExpireDateIslamic.$error.pattern && !profileForm.commercialRegisterExpireDateIslamic.$pristine">
                                {{"customer.account.profile.field.commercialRegisterExpireDateIslamic.invalid" | translate }}.
                            </label>
                        </div>
                </div>

                <div class="form-group-attached m-t-20 sm-no-padding" id="address">
                    <div class="row row-same-height">
                        <div class="col-12">
                            <div class="row m-b-20">
                                <div class="col-sm no-padding">
                                    <div class="form-group form-group-custom form-group-default form-group-default-select2 no-padding">
                                        <label>{{'customer.cart.branchLabel' | translate}}</label>
                                        <select id="branch" name="branch" class="full-width no-padding" data-disable-search="true" data-placeholder=""
                                                data-init-plugin="select2"
                                                placeholder=""
                                                ng-change="$ctrl.onChange()"
                                                class="form-control"
                                                ng-model="$ctrl.branchId">
                                            <option ng-repeat="branch in $ctrl.branches" value ="{{branch._id}}">
                                                {{branch.branchName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2 no-margin no-padding d-flex">
                                    <a href="" ng-click="$ctrl.branchInput = !$ctrl.branchInput; $ctrl.mode = 'create'; $ctrl.branchName ='';" style="min-height:35px; width: 100%;" class="btn btn-primary align-self-stretch d-flex align-items-center justify-content-center">
                                        <i class="fa fa-plus" aria-hidden="true"></i> <span> {{'customer.account.profile.button.add_branch' | translate }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row m-t-20">
                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <input type="text" ng-model="$ctrl.branchName" placeholder="{{'customer.account.profile.field.branch_input.placeholder' | translate }}"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-sm-4">
                                    <a href="" ng-click="$ctrl.mode === 'create' ? $ctrl.createBranch() : $ctrl.updateBranch()" class="btn btn-primary btn-block">
                                        {{'customer.account.profile.button.save_branch' | translate }}
                                    </a>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-end">
                                    <!--<a href="" ng-click="$ctrl.branchInput = !$ctrl.branchInput ; $ctrl.mode = 'edit'" class="btn btn-xs">-->
                                        <!--<i class="fa fa-pencil"></i> {{"customer.account.profile.button.edit_branch" | translate }}-->
                                    <!--</a>-->
                                    <a href="" ng-if="$ctrl.mode === 'edit'" ng-click="$ctrl.openConfirmMessage($event)" class="btn btn-danger btn-block no-animate">
                                        <i></i> {{'customer.account.profile.button.delete_branch' | translate }}
                                    </a>
                                    <a href="" ng-if="$ctrl.mode === 'create'" ng-click="$ctrl.cancelEdit();" class="btn btn-danger btn-block no-animate">
                                        <i></i> {{'customer.account.profile.button.cancel' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default no-margin required" ng-class="{ 'has-error' : registerForm.address.$invalid && !registerForm.address.$pristine }">
                                <label>{{"customer.account.profile.field.location.label" | translate }}</label>
                                <div class="controls">
                                    <input places-auto-complete size=80
                                           name="address"
                                           id="location"
                                           class="form-control"
                                           component-restrictions="{country:'sa'}"
                                           ng-model="$ctrl.customer.location.address"
                                           types="{{$ctrl.types}}"
                                           on-place-changed="$ctrl.placeChanged()" required/>
                                </div>
                            </div>
                            <label class="error" for="address" ng-show="profileForm.address.$error.required && !profileForm.address.$pristine">
                                {{"customer.account.profile.field.location.required" | translate }}.
                            </label>
                            <div class="m-b-10" style="width:100%" map-lazy-load="{{$ctrl.googleMapsUrl}}">
                                <ng-map ng-show="!$ctrl.profileIsloading"  id="map" zoom="11"
                                        center="{{$ctrl.customer.location.coordinates}}">
                                    <marker position="{{$ctrl.customer.location.coordinates}}"
                                            title="Location"  animation="Animation.DROP"
                                            on-dragend="$ctrl.markerDragEnd()"
                                            draggable="true">
                                    </marker>

                                </ng-map>
                            </div>
                        </div>

                    </div>
                </div>

                <p class="bold text-uppercase p-t-20 p-l-10">{{'customer.account.profile.text.acc_holder_info' | translate}}</p>
                <div class="form-group-attached">
                    <div class="row">
                        <div class="col-sm-6 no-margin no-padding">
                            <div class="form-group form-group-default no-margin required"
                                 ng-class="{ 'has-error' : profileForm.firstName.$invalid && !profileForm.firstName.$pristine }">
                                <label>{{"customer.account.profile.field.first_name.label" | translate }}</label>
                                <input ng-model="$ctrl.customer.user.firstName" id="firstName" name="firstName" class="form-control"  type="text"
                                       minlength="2" maxlength="20"
                                       ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-_\.]*$/"
                                       required>

                            </div>
                            <label class="error" for="firstName" ng-show="profileForm.firstName.$error.required && !profileForm.firstName.$pristine">
                                {{"customer.account.profile.field.first_name.required" | translate }}.
                            </label>
                            <label class="error" for="firstName" ng-show="profileForm.firstName.$error.pattern && !profileForm.firstName.$pristine">
                                {{"customer.account.profile.field.first_name.invalid" | translate }}.
                            </label>
                        </div>
                        <div class="col-sm-6 no-margin no-padding">
                            <div class="form-group form-group-default no-margin required"
                                 ng-class="{ 'has-error' : profileForm.lastName.$invalid && !profileForm.lastName.$pristine }">

                                <label>{{"customer.account.profile.field.last_name.label" | translate }}</label>
                                <input ng-model="$ctrl.customer.user.lastName" id="lastName" name="lastName" class="form-control" type="text"
                                       minlength="2" maxlength="20"
                                       ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-_\.]*$/"
                                       required>
                            </div>
                            <label class="error" for="lastName" ng-show="profileForm.lastName.$error.required && !profileForm.lastName.$pristine">
                                {{"customer.account.profile.field.last_name.required" | translate }}.
                            </label>
                            <label class="error" for="lastName" ng-show="profileForm.lastName.$error.pattern && !profileForm.lastName.$pristine">
                                {{"customer.account.profile.field.last_name.invalid" | translate }}.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 no-margin no-padding">
                            <div class="form-group form-group-default no-margin required"
                                 ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }">
                                <label>{{"customer.account.profile.field.email.label" | translate }}.</label>
                                <input ng-disabled="true" ng-model="$ctrl.customer.user.email" class="form-control" id="email" name="email" type="text"                                                ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                       ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                       required>
                            </div>
                            <label class="error" for="email" ng-show="profileForm.email.$error.required && !profileForm.email.$pristine">
                                {{"customer.account.profile.field.email.required" | translate }}.
                            </label>
                            <label class="error" for="email" ng-show="profileForm.email.$error.pattern && !profileForm.email.$pristine">
                                {{"customer.account.profile.field.email.invalid" | translate }}.
                            </label>
                        </div>
                        <div class="col-sm-6 no-margin no-padding">
                            <div class="form-group form-group-default no-margin required"
                                 ng-class="{ 'has-error' : profileForm.mobileNumber.$invalid && !profileForm.mobileNumber.$pristine }">
                                <label>{{"customer.account.profile.field.phone.label" | translate }}.</label>
                                <input ng-model="$ctrl.customer.user.mobileNumber" id="mobileNumber"
                                       name="mobileNumber" class="form-control" type="text" required  ng-pattern='/^9665[0-9]{8}$$/'>
                            </div>
                            <label class="error" for="mobileNumber" ng-show="profileForm.mobileNumber.$error.required && !profileForm.mobileNumber.$pristine">
                                {{"customer.account.profile.field.phone.required" | translate }}.
                            </label>
                            <label class="error" for="mobileNumber" ng-show="profileForm.mobileNumber.$error.pattern && !profileForm.mobileNumber.$pristine">
                                {{"customer.account.profile.field.phone.invalid" | translate }}.
                            </label>
                        </div>

                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9 no-margin no-padding">
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3 no-margin no-padding">
                        <button type="submit" ng-disabled="profileForm.$invalid" id="saveChanges1" class="btn btn-primary btn-block m-b-15">
                            {{'customer.account.profile.button.save_changes' | translate }}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="$ctrl.profileFormIsLoading" class="progress-circle-indeterminate"></div>
                </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <!--<div ng-if="$ctrl.resetFormIsFailure" class="alert alert-danger" role="alert">-->
            <!--<button class="close" data-dismiss="alert"></button>-->
            <!--{{$ctrl.message| translate}}-->
        <!--</div>-->
        <!--<div ng-if="$ctrl.resetFormIsSuccess" class="alert alert-success" role="alert">-->
            <!--<button class="close" data-dismiss="alert"></button>-->
            <!--{{$ctrl.message | translate }}-->
        <!--</div>-->
        <div ng-if="$ctrl.resetFormIsLoading" class="progress-circle-indeterminate"></div>
        <form name="resetForm" novalidate accessible-form ng-submit="$ctrl.resetPassword(resetForm)">
            <div class="card-block card-wide-padding">
                <p class="bold text-uppercase p-l-10">{{"customer.account.profile.text.reset_password" | translate }}</p>
                <div class="form-group-attached">
                    <div class="row clearfix">
                        <div class="col-sm-6 no-margin no-padding">
                            <div class="form-group form-group-default no-margin required"
                                 ng-class="{ 'has-error' : resetForm.oldPassword.$invalid && !resetForm.oldPassword.$pristine }">
                                <label>                                {{"customer.account.profile.field.old_password.label" | translate }}
                                </label>
                                <input ng-model="$ctrl.oldPassword" class="form-control" name="oldPassword"  id="oldPassword" type="password"
                                       ng-pattern="/[a-zA-Z\u0600-\u06FF@#_-]+[0-9]+[a-zA-Z\u0600-\u06FF0-9@#_-]*|[0-9]+[a-zA-Z\u0600-\u06FF@#_-][a-zA-Z\u0600-\u06FF0-9@#_-]*/"
                                       ng-minlength="6"
                                       ng-maxlength="20"
                                       required>
                            </div>
                            <label class="error" for="oldPassword"
                                   ng-show="resetForm.oldPassword.$error.required && resetForm.$submitted">
                                {{"customer.account.profile.field.old_password.required" | translate }}
                            </label>
                            <label class="error" for="oldPassword"
                                   ng-show="resetForm.oldPassword.$error.pattern || resetForm.oldPassword.$error.minlength|| resetForm.newPassword.$error.maxlength && resetForm.$submitted">
                                {{"customer.account.profile.field.old_password.invalid" | translate }}
                            </label>
                        </div>
                        <div class="col-sm-6 no-margin no-padding">
                            <div class="form-group form-group-default no-margin required"
                                 ng-class="{ 'has-error' : resetForm.newPassword.$invalid && !resetForm.newPassword.$pristine }">
                                <label>{{"customer.account.profile.field.new_password.label" | translate }}</label>
                                <input ng-model="$ctrl.newPassword" class="form-control" name="newPassword" id="newPassword" type="password"
                                       ng-pattern="/[a-zA-Z\u0600-\u06FF@#_-]+[0-9]+[a-zA-Z\u0600-\u06FF0-9@#_-]*|[0-9]+[a-zA-Z\u0600-\u06FF@#_-][a-zA-Z\u0600-\u06FF0-9@#_-]*/"
                                       ng-minlength="6"
                                       ng-maxlength="20"
                                       required>
                            </div>
                            <label class="error" for="newPassword"
                                   ng-show="resetForm.newPassword.$error.required && resetForm.$submitted">
                                {{"customer.account.profile.field.old_password.required" | translate }}
                            </label>
                            <label class="error" for="oldPassword"
                                   ng-show="resetForm.newPassword.$error.pattern || resetForm.newPassword.$error.minlength|| resetForm.newPassword.$error.maxlength && resetForm.$submitted">
                                {{"customer.account.profile.field.old_password.invalid" | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9 no-margin no-padding">
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3 no-margin no-padding">
                        <button  id="saveChanges2" class="btn btn-primary btn-block">
                            {{'customer.account.profile.button.save_changes' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div style="margin: 20px;position:absolute;z-index: 3000;" ng-if="$ctrl.base64ImageIsLoading"  class="progress-circle-indeterminate"></div>

            <div class="modal-content">

                <div class="modal-header clearfix text-left" >
                    <button type="button" style="top:-2px" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body text-center p-b-0">
                    <p>{{$ctrl.filename}}</p>
                    <a style="margin: 75px" ng-click="$ctrl.getCommercialRegisterPhoto()"> <i
                            class="fa fa-download"></i>
                        {{'customer.account.profile.button.download' |
                        translate}}</a>

                    <!--<div style="margin: 25px;"-->
                         <!--ng-if="$ctrl.base64ImageIsLoading" class="progress-circle-indeterminate"></div>-->


                    <label  style="margin: 75px" for="commercialRegisterPhoto">
                        <i class="pg-plus"></i> {{'customer.account.profile.button.upload_photo2' | translate}}
                    </label>

                    <div class="custom-image-input form-image-input p-t-0" style="background: none !important; height:0;" ng-form="$ctrl.crForm">

                        <input id="commercialRegisterPhoto" name="commercialRegisterPhoto" type="file"
                               ngf-select="$ctrl.uploadCommercialRegisterPhoto($file)" ng-model="$ctrl.commercialRegisterPhoto"
                               accept="image/*,application/pdf" required>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


<div class="modal fade disable-scroll slide-up"  id="deleteBranchModel" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{"customer.account.profile.message.delete_branch_message" | translate }}</span></h5>
                <p></p>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <button  onclick="$('#deleteBranchModel').modal('hide');" class="btn btn-primary btn-block m-t-5">{{"customer.account.profile.button.cancel" | translate }}</button>
                    </div>
                    <div class="col-6">
                        <button  ng-click="$ctrl.deleteBranch()" class="btn btn-danger btn-block m-t-5">{{"customer.account.profile.button.delete_branch" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>

    (function($) {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear() + 5;
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("commercialRegisterExpireDate").setAttribute("max", today);
    })(window.jQuery);

     $('#branch').on('select2:open',function(){
         let that = $(this);
         let flag = false;
         if ( $(window).width() > 739) {
             $(window).bind('wheel', function(e) {
                 // if(!flag && e.target.className === 'select2-results__option'){
                 //     // that.select2("close");
                 //     console.log('scroll');
                 // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                 //     that.select2("open");
                 //     console.log('scroll');
                 // }
             });
         }
         else {
             $(window).bind('wheel', function(e) {
                 console.log(e.target);
                 if(!flag && e.target.className === 'select2-results__option'){
                     // that.select2("close");
                     console.log('scroll');
                 } else if(!flag &&  e.target.className !== 'select2-results__option'){
                     that.select2("close");
                     console.log('scroll');
                 }
                 else
                     flag = true;
             });
         }
     });
</script>